In [2]:
import pickle
import pandas as pd
import numpy as np

with open('./DF_genres_hashed.pkl', 'rb') as f:
    df = pickle.load(f)

In [3]:
df["genres"].value_counts()

['baroque', 'classical', 'early music', 'german baroque']                                      3654
['classical', 'classical era']                                                                 1907
['cartoon','children's music']                                                                 1468
['smooth jazz']                                                                                1274
['edm', 'progressive house', 'trance']                                                         1131
                                                                                               ...
['metalcore', 'nu-metalcore', 'post-screamo']                                                     1
['garage punk', 'oakland indie']                                                                  1
['latin jazz', 'salsa', 'tropical']                                                               1
['chicago hardcore', 'chicago punk', 'crossover thrash', 'grunge', 'post-hardcore', 'punk']       1
['alternative r&b', 'malaysian pop']                                                              1
Name: genres, Length: 20720, dtype: int64

In [4]:
df.head()

,acousticness,artist,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,...,40,41,42,43,44,45,46,47,48,49
0,0.001300,Karkkiautomaatti,0.487,157307.0,0.678,0.055100,9.0,0.0846,-7.780,1.0,...,0.0,-1.0,1.0,2.0,-3.0,0.0,0.0,0.0,0.0,-2.0
1,0.000045,Hudson Mohawke,0.662,138960.0,0.823,0.952000,4.0,0.3430,-1.711,0.0,...,0.0,-4.0,5.0,7.0,-4.0,-1.0,0.0,0.0,0.0,-7.0
2,0.002760,Kris Kross,0.859,221200.0,0.741,0.000000,11.0,0.3250,-12.329,0.0,...,0.0,-3.0,0.0,1.0,-2.0,-1.0,0.0,0.0,0.0,-1.0
3,0.348000,Jorge Negrete,0.361,173573.0,0.483,0.000003,7.0,0.1770,-6.875,1.0,...,0.0,-2.0,1.0,2.0,-1.0,2.0,0.0,0.0,0.0,0.0
4,0.340000,Tiger Lou,0.533,318467.0,0.302,0.179000,10.0,0.1110,-10.308,1.0,...,0.0,0.0,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,-2.0

# DBSCAN Attempt - Takes too long on local machine - Will try Sagemaker

In [5]:
from sklearn.cluster import DBSCAN

In [6]:
# un-pickling model
with open('DBSCAN_Model.pkl', 'rb') as f:
    dbscan = pickle.load(f)

/Users/user/.local/share/virtualenvs/model_notebooks-inW34qmC/lib/python3.7/site-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.cluster.dbscan_ module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.cluster. Anything that cannot be imported from sklearn.cluster is now part of the private API.
  warnings.warn(message, FutureWarning)
/Users/user/.local/share/virtualenvs/model_notebooks-inW34qmC/lib/python3.7/site-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator DBSCAN from version 0.20.3 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [7]:
len(dbscan.labels_)

574018

In [8]:
len(set(dbscan.labels_))

2944

In [9]:
dbscan.labels_[1]

-1

In [35]:
np.where(dbscan.labels_ == 2950)[0]

array([], dtype=int64)

In [45]:
print(len(np.where(dbscan.labels_ == 11)[0]))
for result in np.where(dbscan.labels_ == 11)[0]:
    display(pd.DataFrame(df.loc[result][1:2]),pd.DataFrame(df.loc[result][10:11]),pd.DataFrame(df.loc[result][17:18]))

277

                     22
artist  Safi Connection

                            22
songid  1g5JkZfil7rXaN0dHbJTX9

                                   22
genres_stripped  'psychedelic trance'

                           3287
artist  Astral Projection (SFX)

                          3287
songid  2o2efsNHB0vtPlyfqk3zhu

                                 3287
genres_stripped  'psychedelic trance'

                   4321
artist  Safi Connection

                          4321
songid  0P1aFVHoxqCY8qs2JzF5CA

                                 4321
genres_stripped  'psychedelic trance'

                 5618
artist  Alien Project

                          5618
songid  00O6fHNKZcXWTIXk0bcYEd

                                 5618
genres_stripped  'psychedelic trance'

              12703
artist  Wizzy Noise

                         12703
songid  2lNNgEKFqHhjwI3LK6il5L

                                12703
genres_stripped  'psychedelic trance'

          14510
artist  Volcano

                         14510
songid  2NVtsg9BDtxogAwld525Ig

                                14510
genres_stripped  'psychedelic trance'

       15357
artist  Doof

                         15357
songid  0DHv5vAnkSBB6GhDWXG3Qr

                                15357
genres_stripped  'psychedelic trance'

            16288
artist  Dark Soho

                         16288
songid  4TUQsf3mQjY0GtGOEr39d6

                                16288
genres_stripped  'psychedelic trance'

             16474
artist  Astralasia

                         16474
songid  293AkkQMzru7REw2CXr2fe

                                16474
genres_stripped  'psychedelic trance'

       16724
artist   SFX

                         16724
songid  0qf1MMZBK9IC35cYWoMXJm

                                16724
genres_stripped  'psychedelic trance'

              19329
artist  Wizzy Noise

                         19329
songid  13RHM4oLS6wR15oUubYsfT

                                19329
genres_stripped  'psychedelic trance'

                    19990
artist  Infected Mushroom

                         19990
songid  65fXSPU5sNVn7ZRTD79NLo

                                19990
genres_stripped  'psychedelic trance'

         23579
artist  Avalon

                         23579
songid  2sfy6iKZgMScb7qog0CQgM

                                23579
genres_stripped  'psychedelic trance'

                    24719
artist  Infected Mushroom

                         24719
songid  2tvJNi3mhb8HL2BfCNvmL3

                                24719
genres_stripped  'psychedelic trance'

              27126
artist  Wizzy Noise

                         27126
songid  7wdgRYzY32MmdfQXez7PZm

                                27126
genres_stripped  'psychedelic trance'

             29372
artist  Astralasia

                         29372
songid  14nySVQ3r6C6pBfkNb91o6

                                29372
genres_stripped  'psychedelic trance'

            30328
artist  Dark Soho

                         30328
songid  2nKGzlgTHXE5ZcveJJ5lr4

                                30328
genres_stripped  'psychedelic trance'

                  31114
artist  Safi Connection

                         31114
songid  4dy1fKqhiOkgcWOIqaIeWF

                                31114
genres_stripped  'psychedelic trance'

                  32164
artist  Safi Connection

                         32164
songid  7zyuK91wRtDQS2hI7f5wxU

                                32164
genres_stripped  'psychedelic trance'

           34280
artist  PsyCraft

                         34280
songid  4TY9t4lIfl2pKrSBZ2HKFQ

                                34280
genres_stripped  'psychedelic trance'

                    34390
artist  Infected Mushroom

                         34390
songid  6HhVHovW5UgFQLUbcma1S8

                                34390
genres_stripped  'psychedelic trance'

                    36388
artist  Infected Mushroom

                         36388
songid  1s5AUFJf1UseEDvmN9JbZ5

                                36388
genres_stripped  'psychedelic trance'

              38470
artist  Wizzy Noise

                         38470
songid  0M12tPjkEe275IUdd2gif4

                                38470
genres_stripped  'psychedelic trance'

                    40844
artist  Infected Mushroom

                         40844
songid  4GfzxWkOtBoK8pstJ0SL45

                                40844
genres_stripped  'psychedelic trance'

                    42146
artist  Astral Projection

                         42146
songid  4IDGOji1bUF0v11YYSzofi

                                42146
genres_stripped  'psychedelic trance'

              44322
artist  Wizzy Noise

                         44322
songid  1pdUFeRcG1p3DuTNqzwnbp

                                44322
genres_stripped  'psychedelic trance'

                    46655
artist  Astral Projection

                         46655
songid  46ygyzzQA8mwcKzzrwXDJM

                                46655
genres_stripped  'psychedelic trance'

              46959
artist  Wizzy Noise

                         46959
songid  1GFaZeLKpIlMxe1PsdSb33

                                46959
genres_stripped  'psychedelic trance'

       47522
artist  Doof

                         47522
songid  2s9ERLCzEKUVj79yMDkUQq

                                47522
genres_stripped  'psychedelic trance'

           47668
artist  PsyCraft

                         47668
songid  3x13FGGZbWtOJpB1I69pc2

                                47668
genres_stripped  'psychedelic trance'

       49027
artist  Doof

                         49027
songid  2R3ga9xeLPIdt6INeUVJTQ

                                49027
genres_stripped  'psychedelic trance'

       51575
artist  Doof

                         51575
songid  5ZkfVAP8dnbnCMgfkOPPg3

                                51575
genres_stripped  'psychedelic trance'

       53833
artist  Doof

                         53833
songid  5G7yG3EJJxeHV8NNgTsxub

                                53833
genres_stripped  'psychedelic trance'

                    55830
artist  Astral Projection

                         55830
songid  0qKUvADTrUV76qi95XLUgn

                                55830
genres_stripped  'psychedelic trance'

       59425
artist  Doof

                         59425
songid  2ooVGI3KdXb542HTDt9wms

                                59425
genres_stripped  'psychedelic trance'

                  60215
artist  Safi Connection

                         60215
songid  5jej2MFryYr1Vzu4sKoucP

                                60215
genres_stripped  'psychedelic trance'

                    63910
artist  Infected Mushroom

                         63910
songid  46xYxJ85GYtE5CcrcVJrTa

                                63910
genres_stripped  'psychedelic trance'

          64026
artist  Volcano

                         64026
songid  59ecNmu4p8G0th26K7Mo5m

                                64026
genres_stripped  'psychedelic trance'

                  66184
artist  Safi Connection

                         66184
songid  7ok21I4e4JuBEHKTmOqVCl

                                66184
genres_stripped  'psychedelic trance'

             66747
artist  Astralasia

                         66747
songid  60JP8aKDLU0rnJet3yEYwD

                                66747
genres_stripped  'psychedelic trance'

                    71808
artist  Infected Mushroom

                         71808
songid  1hUKa46QHBiif7oDYf2iKN

                                71808
genres_stripped  'psychedelic trance'

                    75317
artist  Infected Mushroom

                         75317
songid  2Ypd2QVly4J7OKpUJVAYPL

                                75317
genres_stripped  'psychedelic trance'

              76067
artist  Wizzy Noise

                         76067
songid  5Ucp4dbIghrV6bR9ker8YZ

                                76067
genres_stripped  'psychedelic trance'

                  81345
artist  Safi Connection

                         81345
songid  0UXrl8YWNEuhRdmUl56xcO

                                81345
genres_stripped  'psychedelic trance'

              82834
artist  Wizzy Noise

                         82834
songid  7kjpGiIkzIHAD5c4Nzhz3F

                                82834
genres_stripped  'psychedelic trance'

                    83515
artist  Infected Mushroom

                         83515
songid  3DKGEn7bQaSEp7KnBnvqO9

                                83515
genres_stripped  'psychedelic trance'

                    84302
artist  Astral Projection

                         84302
songid  2GB3LuLNKFu0SCSLLul2f4

                                84302
genres_stripped  'psychedelic trance'

           90055
artist  PsyCraft

                         90055
songid  3JIuyvirtwCOfxIzWYm5Lb

                                90055
genres_stripped  'psychedelic trance'

              91984
artist  Wizzy Noise

                         91984
songid  3LCDVnNMio041lOqQPF2hb

                                91984
genres_stripped  'psychedelic trance'

                  92233
artist  Safi Connection

                         92233
songid  1WjSz7z3FqFGXcndjbTlsn

                                92233
genres_stripped  'psychedelic trance'

              92487
artist  Wizzy Noise

                         92487
songid  4pEZiysWR02aessLJeioLD

                                92487
genres_stripped  'psychedelic trance'

                    93955
artist  Infected Mushroom

                         93955
songid  5XWk7xQs5JZHY2OqbAg2OB

                                93955
genres_stripped  'psychedelic trance'

          94599
artist  Volcano

                         94599
songid  0EIrW5OSYYfkipU6BDjD1A

                                94599
genres_stripped  'psychedelic trance'

            95115
artist  Dark Soho

                         95115
songid  2ZPbSVcq3snhi0UtGOuroa

                                95115
genres_stripped  'psychedelic trance'

                    98859
artist  Infected Mushroom

                         98859
songid  3Z1DdVWidI37RZ4KkBsVBK

                                98859
genres_stripped  'psychedelic trance'

           103443
artist  Dark Soho

                        103443
songid  7E9PQJaLQ13MGY4OWk19o8

                               103443
genres_stripped  'psychedelic trance'

                 104052
artist  Safi Connection

                        104052
songid  7u3hTBO5nZUmtPyBrXUVL9

                               104052
genres_stripped  'psychedelic trance'

                   105372
artist  Astral Projection

                        105372
songid  1yKLTKwDd5YzlcKTd9fK2Q

                               105372
genres_stripped  'psychedelic trance'

            105474
artist  Astralasia

                        105474
songid  3IE3XH0g8KaOuDu6kAbYkw

                               105474
genres_stripped  'psychedelic trance'

           106772
artist  Dark Soho

                        106772
songid  5xKrbiFpUNExpQvD1dJV7M

                               106772
genres_stripped  'psychedelic trance'

                   107597
artist  Infected Mushroom

                        107597
songid  41jKmchf33hKoa886ELAtN

                               107597
genres_stripped  'psychedelic trance'

             107775
artist  Wizzy Noise

                        107775
songid  2ly2zh3uFEnfHKwPjbLRv0

                               107775
genres_stripped  'psychedelic trance'

          111804
artist  Hux Flux

                        111804
songid  6JooMCV0LhjgfabMvfgSD0

                               111804
genres_stripped  'psychedelic trance'

                   116734
artist  Astral Projection

                        116734
songid  1a4G3B5n4TTN6z1KZs1cjs

                               116734
genres_stripped  'psychedelic trance'

       118038
artist   Doof

                        118038
songid  6JzJ16ZEkyp0PxJpEj93Yy

                               118038
genres_stripped  'psychedelic trance'

                   118808
artist  Infected Mushroom

                        118808
songid  472EixoNfk7DaczVRmMVkr

                               118808
genres_stripped  'psychedelic trance'

             119506
artist  Wizzy Noise

                        119506
songid  3PzvPQy6wnuHGEh04caB1e

                               119506
genres_stripped  'psychedelic trance'

                   120689
artist  Infected Mushroom

                        120689
songid  3OosF7JUoh4WdeYsXAEu8x

                               120689
genres_stripped  'psychedelic trance'

        122334
artist  Avalon

                        122334
songid  5R7BEAgejya3MRXopOVTc9

                               122334
genres_stripped  'psychedelic trance'

                   123522
artist  Infected Mushroom

                        123522
songid  7G7qAvwD7kGBRnY9D1G0o3

                               123522
genres_stripped  'psychedelic trance'

                 123689
artist  Safi Connection

                        123689
songid  0c2htJF35rPNsMOcBOOs8y

                               123689
genres_stripped  'psychedelic trance'

                 124114
artist  Safi Connection

                        124114
songid  7eQy44clq4G6k5TIjFCkRG

                               124114
genres_stripped  'psychedelic trance'

                   126141
artist  Infected Mushroom

                        126141
songid  0Vg03KuHZMIz4Ty7inxnh8

                               126141
genres_stripped  'psychedelic trance'

                 128679
artist  Safi Connection

                        128679
songid  6TorXQb3yPZIoQjoV57wNU

                               128679
genres_stripped  'psychedelic trance'

                 130438
artist  Safi Connection

                        130438
songid  6kDGrs2qt651OHl6l8i8WE

                               130438
genres_stripped  'psychedelic trance'

                   133342
artist  Astral Projection

                        133342
songid  2R809RREFXrzIoB1Zhknxn

                               133342
genres_stripped  'psychedelic trance'

                 134500
artist  Safi Connection

                        134500
songid  2H5tFuQOP96kF7FQ9mvFRP

                               134500
genres_stripped  'psychedelic trance'

                 136162
artist  Safi Connection

                        136162
songid  150lxp6PzFabJvyWOFiYP5

                               136162
genres_stripped  'psychedelic trance'

                   137029
artist  Infected Mushroom

                        137029
songid  7JwzF5jfDNMmamiCFuAHFX

                               137029
genres_stripped  'psychedelic trance'

                   138653
artist  Astral Projection

                        138653
songid  0I25qad9Fjxgcom0fD2Ax1

                               138653
genres_stripped  'psychedelic trance'

                   141486
artist  Infected Mushroom

                        141486
songid  2haUwunVznY7hTczWJhMxi

                               141486
genres_stripped  'psychedelic trance'

                   142811
artist  Infected Mushroom

                        142811
songid  61CurfVTGEhim7YoKNbyHs

                               142811
genres_stripped  'psychedelic trance'

             143230
artist  Wizzy Noise

                        143230
songid  43keVgNUV7E5bjVYMjelNL

                               143230
genres_stripped  'psychedelic trance'

                 146599
artist  Safi Connection

                        146599
songid  5AzTgFSRUfy6V7hX61TPf6

                               146599
genres_stripped  'psychedelic trance'

         147980
artist  Volcano

                        147980
songid  1bXAwusFfNTScp5ZbTbk5d

                               147980
genres_stripped  'psychedelic trance'

             150857
artist  Wizzy Noise

                        150857
songid  4JyNFyynZK33U2o9bqa0No

                               150857
genres_stripped  'psychedelic trance'

                   151665
artist  Astral Projection

                        151665
songid  5SNwQrXUluDKPXLDcPA7DV

                               151665
genres_stripped  'psychedelic trance'

            153682
artist  Astralasia

                        153682
songid  1SAZgQ53djrb3DIdBQsg8U

                               153682
genres_stripped  'psychedelic trance'

             156201
artist  Wizzy Noise

                        156201
songid  7LWX3QVcoOUwwMZnbRbLWW

                               156201
genres_stripped  'psychedelic trance'

             157795
artist  Wizzy Noise

                        157795
songid  35XBugTbne2LfmCxnfIcIF

                               157795
genres_stripped  'psychedelic trance'

                   159699
artist  Infected Mushroom

                        159699
songid  1MZkdZlIehxqzzxUAI5tqF

                               159699
genres_stripped  'psychedelic trance'

                 159829
artist  Safi Connection

                        159829
songid  3dSzqSHUXSFaiEmuqCjUAl

                               159829
genres_stripped  'psychedelic trance'

                   160826
artist  Astral Projection

                        160826
songid  38eJbMEzRbzTdLZNBS08Y4

                               160826
genres_stripped  'psychedelic trance'

         161352
artist  Volcano

                        161352
songid  7i9E6NKye7oxf1BDr9hx1n

                               161352
genres_stripped  'psychedelic trance'

                   161983
artist  Infected Mushroom

                        161983
songid  00t7eXukZLIQ2nHTv7FF71

                               161983
genres_stripped  'psychedelic trance'

                   165253
artist  Infected Mushroom

                        165253
songid  7eOWs5rNTUcqPFaj56eFz0

                               165253
genres_stripped  'psychedelic trance'

                   176048
artist  Astral Projection

                        176048
songid  7J3C5sEHhztP0RZwkztCoe

                               176048
genres_stripped  'psychedelic trance'

       176414
artist   Doof

                        176414
songid  2wvnXl9Rkep7Pcyk10wRgX

                               176414
genres_stripped  'psychedelic trance'

                           176874
artist  Astral Projection ( sfx )

                        176874
songid  6a4Fs0kMA6kdN8KTVq0xQI

                               176874
genres_stripped  'psychedelic trance'

          177834
artist  PsyCraft

                        177834
songid  0GwSxHTluSzlMbPVY9XUz7

                               177834
genres_stripped  'psychedelic trance'

                 181133
artist  Safi Connection

                        181133
songid  6fLfClF5HctmOlyQgsCAgF

                               181133
genres_stripped  'psychedelic trance'

            182593
artist  Astralasia

                        182593
songid  31NDyB4AKMyU06dHGH1BtE

                               182593
genres_stripped  'psychedelic trance'

                 188733
artist  Safi Connection

                        188733
songid  6DbQH6nC1vWlt3hdyy89Tc

                               188733
genres_stripped  'psychedelic trance'

                   188879
artist  Infected Mushroom

                        188879
songid  3oPsru1TVomsVOJ7spOR54

                               188879
genres_stripped  'psychedelic trance'

                   199104
artist  Infected Mushroom

                        199104
songid  1O8Yms2eDqrpV89bh2CUHE

                               199104
genres_stripped  'psychedelic trance'

                   201162
artist  Astral Projection

                        201162
songid  3KyNUyk36SMS1WczLJZFMP

                               201162
genres_stripped  'psychedelic trance'

             201309
artist  Wizzy Noise

                        201309
songid  6CmtjO3YDfxQmmDXXwwx4r

                               201309
genres_stripped  'psychedelic trance'

                   201332
artist  Infected Mushroom

                        201332
songid  6UiEi6yB9GGwzAdKkGIkh6

                               201332
genres_stripped  'psychedelic trance'

                                  202826
artist  Astral Projection (Dazzle Pulse)

                        202826
songid  5ABprS7eibIVumRDFJgY7z

                               202826
genres_stripped  'psychedelic trance'

           205213
artist  E-Rection

                        205213
songid  7dV0EABeDrLrKk6slQ4NdY

                               205213
genres_stripped  'psychedelic trance'

                   206886
artist  Infected Mushroom

                        206886
songid  5B0md0nln9s5ypeEwsSbTy

                               206886
genres_stripped  'psychedelic trance'

                 207149
artist  Safi Connection

                        207149
songid  2USQFKNOdnsGuXnhcc3Ppo

                               207149
genres_stripped  'psychedelic trance'

                   210090
artist  Infected Mushroom

                        210090
songid  6vXAa8bDW2ZQjzwfbnYsj4

                               210090
genres_stripped  'psychedelic trance'

                 210735
artist  Safi Connection

                        210735
songid  1FwsNO0Wye6QfA03WvoMar

                               210735
genres_stripped  'psychedelic trance'

                   211182
artist  Infected Mushroom

                        211182
songid  4aFBzrtYYKrvjjyn3esqXg

                               211182
genres_stripped  'psychedelic trance'

                 213144
artist  Safi Connection

                        213144
songid  2j3f69Xhuu0vgsfxnRGq5J

                               213144
genres_stripped  'psychedelic trance'

         213156
artist  Volcano

                        213156
songid  4sVekkM6nwiog2punYOzMP

                               213156
genres_stripped  'psychedelic trance'

       215576
artist   Doof

                        215576
songid  4VxYZDAawOigTg9eXNCgwD

                               215576
genres_stripped  'psychedelic trance'

           216157
artist  Dark Soho

                        216157
songid  71zXauMADt4DKpFJ9AVXHS

                               216157
genres_stripped  'psychedelic trance'

          217869
artist  PsyCraft

                        217869
songid  4iqr4k9E6HuYKxbH7Bup4p

                               217869
genres_stripped  'psychedelic trance'

                   217946
artist  Infected Mushroom

                        217946
songid  5mwk3pyqrqjfPVxVg9iWwc

                               217946
genres_stripped  'psychedelic trance'

             220598
artist  Wizzy Noise

                        220598
songid  2yrzEZyrX1wWB0TS0Z4Nsv

                               220598
genres_stripped  'psychedelic trance'

          220819
artist  PsyCraft

                        220819
songid  5aozqzAaI5OtjJBSgq5uII

                               220819
genres_stripped  'psychedelic trance'

                   221562
artist  Astral Projection

                        221562
songid  7ecv2oC1QL7Q6o3PuFqWzn

                               221562
genres_stripped  'psychedelic trance'

                 221954
artist  Safi Connection

                        221954
songid  2JXJJtrhXlNp1YC8XiW0jx

                               221954
genres_stripped  'psychedelic trance'

           221961
artist  Dark Soho

                        221961
songid  2qpLimTUTWFgnHBfxZxhxX

                               221961
genres_stripped  'psychedelic trance'

                   222348
artist  Infected Mushroom

                        222348
songid  6bPlGL7ZAts3zu2CiZLm77

                               222348
genres_stripped  'psychedelic trance'

                   223182
artist  Astral Projection

                        223182
songid  6uZyglvttYW82M8mCeSzeT

                               223182
genres_stripped  'psychedelic trance'

                   224317
artist  Infected Mushroom

                        224317
songid  1gKc5W3kos5459lbNfsDMj

                               224317
genres_stripped  'psychedelic trance'

                   225476
artist  Astral Projection

                        225476
songid  3Dfu3nPsOUtoNG0w6dR6D0

                               225476
genres_stripped  'psychedelic trance'

                   226114
artist  Infected Mushroom

                        226114
songid  0IpXQ27DuJWlLKDhMrUaKg

                               226114
genres_stripped  'psychedelic trance'

                 226977
artist  Safi Connection

                        226977
songid  1cbN7BN3s3Tar0tIa2z4Ug

                               226977
genres_stripped  'psychedelic trance'

            228081
artist  Astralasia

                        228081
songid  4ivbpt1VFVoWB9YkXvtE8Y

                               228081
genres_stripped  'psychedelic trance'

             230312
artist  Wizzy Noise

                        230312
songid  1N1JJo58lXCD6OAPj8enBv

                               230312
genres_stripped  'psychedelic trance'

             231378
artist  Wizzy Noise

                        231378
songid  5zbe1A1sLTjcZ6ijoIMtrm

                               231378
genres_stripped  'psychedelic trance'

                 231671
artist  Safi Connection

                        231671
songid  0aqToc1tnrwXtzC8eKuCiL

                               231671
genres_stripped  'psychedelic trance'

                   233107
artist  Infected Mushroom

                        233107
songid  6r7XGyCsFwYIjodkzKsxwk

                               233107
genres_stripped  'psychedelic trance'

             233843
artist  Wizzy Noise

                        233843
songid  5JyQguDdzLqb96BjxVMydI

                               233843
genres_stripped  'psychedelic trance'

         234347
artist  Volcano

                        234347
songid  5EIUnp40nBbYIJYzK3DBe3

                               234347
genres_stripped  'psychedelic trance'

             235301
artist  Wizzy Noise

                        235301
songid  4vKG9YozLsQVUVd5BGVWZQ

                               235301
genres_stripped  'psychedelic trance'

          235363
artist  PsyCraft

                        235363
songid  7cWj7w9CPmSb5i6dP4BmQH

                               235363
genres_stripped  'psychedelic trance'

            235395
artist  Astralasia

                        235395
songid  5EB0lC9Y6VsjdkY4D6wk0U

                               235395
genres_stripped  'psychedelic trance'

                   239920
artist  Infected Mushroom

                        239920
songid  6atatiii9o9TntsMGbXr2d

                               239920
genres_stripped  'psychedelic trance'

       242386
artist   Doof

                        242386
songid  2UrgOyRIkt8Tv5YbgjBWmG

                               242386
genres_stripped  'psychedelic trance'

             242685
artist  Wizzy Noise

                        242685
songid  1a2KjXuo8QWeJ0FYjD3GqN

                               242685
genres_stripped  'psychedelic trance'

          243160
artist  Hux Flux

                        243160
songid  21X0hSejS6Vqq2dd4yIzHW

                               243160
genres_stripped  'psychedelic trance'

            244400
artist  Astralasia

                        244400
songid  1IMtHvn6qE6oezQHWHTtQl

                               244400
genres_stripped  'psychedelic trance'

                   246587
artist  Infected Mushroom

                        246587
songid  2MhWOwy6fjN9j5QY290z8d

                               246587
genres_stripped  'psychedelic trance'

                   248636
artist  Astral Projection

                        248636
songid  7dHrQrRJYG0b8arLgEC0i7

                               248636
genres_stripped  'psychedelic trance'

                   252098
artist  Infected Mushroom

                        252098
songid  3YzeozjVpmh81J5Mc6gNG9

                               252098
genres_stripped  'psychedelic trance'

           252796
artist  Dark Soho

                        252796
songid  3lfahCOysGT4LZctM5gSZU

                               252796
genres_stripped  'psychedelic trance'

                   256704
artist  Infected Mushroom

                        256704
songid  71iJ1F8QWYRrvA5jHZpPvH

                               256704
genres_stripped  'psychedelic trance'

          262234
artist  PsyCraft

                        262234
songid  29RCIDLaBbBFmpZLErUNxI

                               262234
genres_stripped  'psychedelic trance'

                   262581
artist  Astral Projection

                        262581
songid  3yfnkglGZaYV7VuKr5cdBL

                               262581
genres_stripped  'psychedelic trance'

                 265251
artist  Safi Connection

                        265251
songid  2XXskBDRHGBUoeZZm4yN53

                               265251
genres_stripped  'psychedelic trance'

          269101
artist  PsyCraft

                        269101
songid  1R7gVx3CphPplj5JTNU2aA

                               269101
genres_stripped  'psychedelic trance'

                   270244
artist  Infected Mushroom

                        270244
songid  3QYLkV4hVE9dyfyjNY5beA

                               270244
genres_stripped  'psychedelic trance'

       271600
artist   Doof

                        271600
songid  3xSZJoLjbdN17J0BBqq0I0

                               271600
genres_stripped  'psychedelic trance'

                   272073
artist  Infected Mushroom

                        272073
songid  1Nukcy7xk7AbS7MtkaiOe3

                               272073
genres_stripped  'psychedelic trance'

         272096
artist  Volcano

                        272096
songid  4oVbbq7AFT38tlPqlrk5Bt

                               272096
genres_stripped  'psychedelic trance'

          274732
artist  PsyCraft

                        274732
songid  03HaNLbUEjpMqQVmEOiGMl

                               274732
genres_stripped  'psychedelic trance'

                   276547
artist  Infected Mushroom

                        276547
songid  5MvnLMIXoDZAcchH0UGb1P

                               276547
genres_stripped  'psychedelic trance'

             276680
artist  Wizzy Noise

                        276680
songid  0f4F8s8kfNYGwMadK5gm7J

                               276680
genres_stripped  'psychedelic trance'

                   282541
artist  Infected Mushroom

                        282541
songid  2F15XyWBzhrRTBaqTl769U

                               282541
genres_stripped  'psychedelic trance'

             288222
artist  Wizzy Noise

                        288222
songid  1AtflxVv9olOYHnWYcvot9

                               288222
genres_stripped  'psychedelic trance'

                 290586
artist  Safi Connection

                        290586
songid  2mHyYPpR5ABYGm09vmoMDZ

                               290586
genres_stripped  'psychedelic trance'

                   291222
artist  Infected Mushroom

                        291222
songid  0GBAlVEopdovG1qRXx1Iwv

                               291222
genres_stripped  'psychedelic trance'

           293702
artist  Dark Soho

                        293702
songid  5ZbLGbXNgYNzhRwLgaZKLd

                               293702
genres_stripped  'psychedelic trance'

             297110
artist  Wizzy Noise

                        297110
songid  4Uo0ErxEwsXK2jGBtCPmCb

                               297110
genres_stripped  'psychedelic trance'

            297839
artist  Astralasia

                        297839
songid  70UuWBEwGxU6iQ0qyBQXgX

                               297839
genres_stripped  'psychedelic trance'

                 301690
artist  Safi Connection

                        301690
songid  2AB3vwtOlvpB3pnco2E6sc

                               301690
genres_stripped  'psychedelic trance'

       301785
artist   Doof

                        301785
songid  2U1nDiDHOTSpyBHiSOdAw2

                               301785
genres_stripped  'psychedelic trance'

            303538
artist  Astralasia

                        303538
songid  6Bi0hZrYpqMdYjI8dcBh1w

                               303538
genres_stripped  'psychedelic trance'

          308231
artist  PsyCraft

                        308231
songid  4wSxsGsk69DR8dHDHydmg2

                               308231
genres_stripped  'psychedelic trance'

          309088
artist  PsyCraft

                        309088
songid  0P6Vtg7TIJcMdYVaImoTzm

                               309088
genres_stripped  'psychedelic trance'

                 310460
artist  Safi Connection

                        310460
songid  1ocpt1wmoQo6PGqKErs5gD

                               310460
genres_stripped  'psychedelic trance'

                           312194
artist  Infected Mushroom & Yahel

                        312194
songid  2nZQ0E6c48zejJYRaYKNPw

                               312194
genres_stripped  'psychedelic trance'

             313385
artist  Wizzy Noise

                        313385
songid  10vKgq3CEIEW8gMPoQl8Qm

                               313385
genres_stripped  'psychedelic trance'

                   315306
artist  Infected Mushroom

                        315306
songid  1L9G0FKEOb51QagRjcrgGo

                               315306
genres_stripped  'psychedelic trance'

          316692
artist  PsyCraft

                        316692
songid  5tEXGRca8N17ediAMoXNyp

                               316692
genres_stripped  'psychedelic trance'

           316706
artist  Dark Soho

                        316706
songid  5R8FagLGW2OVwkglc12cZL

                               316706
genres_stripped  'psychedelic trance'

          317169
artist  PsyCraft

                        317169
songid  6zEn50y8B5pjzZ47ruz8Yz

                               317169
genres_stripped  'psychedelic trance'

                 318150
artist  Safi Connection

                        318150
songid  7qmkQjxLms5Vjya8DGQwd8

                               318150
genres_stripped  'psychedelic trance'

                                  320537
artist  Astral Projection (Dazzle Pulse)

                        320537
songid  4HEBmIHb0PCV3PPGvf7yxg

                               320537
genres_stripped  'psychedelic trance'

             321896
artist  Wizzy Noise

                        321896
songid  4v7uU7qspVK1LTh9aqM1r3

                               321896
genres_stripped  'psychedelic trance'

                   323437
artist  Infected Mushroom

                        323437
songid  3FIE2YHX3OkqnWHxCBBoiU

                               323437
genres_stripped  'psychedelic trance'

             333780
artist  Wizzy Noise

                        333780
songid  2jxS9I6eNZkTFA0rR2nCVp

                               333780
genres_stripped  'psychedelic trance'

                   333893
artist  Astral Projection

                        333893
songid  4fKBKp6v52BBYHw3ePMXFp

                               333893
genres_stripped  'psychedelic trance'

            336356
artist  Astralasia

                        336356
songid  2oQkapNThvHuRzPHxO6nf5

                               336356
genres_stripped  'psychedelic trance'

                   338291
artist  Infected Mushroom

                        338291
songid  1K8aHXo5sSc7Qt4C6LUdn1

                               338291
genres_stripped  'psychedelic trance'

             341088
artist  Wizzy Noise

                        341088
songid  1W88aaYsebnb69Blpx6S0z

                               341088
genres_stripped  'psychedelic trance'

           342521
artist  Dark Soho

                        342521
songid  45xIYEejr9F8ujX8YWCkcJ

                               342521
genres_stripped  'psychedelic trance'

                   343148
artist  Astral Projection

                        343148
songid  4DUvRP3xV2wskFqQeMICix

                               343148
genres_stripped  'psychedelic trance'

                   343267
artist  Astral Projection

                        343267
songid  2C7M7Zcivd5gcUyb7ZzczW

                               343267
genres_stripped  'psychedelic trance'

                   348541
artist  Infected Mushroom

                        348541
songid  5fkGmfxNGsYxs4zXXWx2CM

                               348541
genres_stripped  'psychedelic trance'

                 349882
artist  Safi Connection

                        349882
songid  1XoIMpKDaryEtIsFSR6QTz

                               349882
genres_stripped  'psychedelic trance'

             350158
artist  Wizzy Noise

                        350158
songid  76zS5HBstOg8n1kquUfF4F

                               350158
genres_stripped  'psychedelic trance'

                   350887
artist  Infected Mushroom

                        350887
songid  22z9GL53FudbuFJqa43Nzj

                               350887
genres_stripped  'psychedelic trance'

       358025
artist   Doof

                        358025
songid  1hYaGGPjmjedLBPdXt15tQ

                               358025
genres_stripped  'psychedelic trance'

                 358318
artist  Safi Connection

                        358318
songid  4vmx8nYl8eHdbltdKvpMgZ

                               358318
genres_stripped  'psychedelic trance'

          359886
artist  PsyCraft

                        359886
songid  0UdXMnLBZq6qxTttzATztC

                               359886
genres_stripped  'psychedelic trance'

          362659
artist  PsyCraft

                        362659
songid  1CcFsa6xFnG4Td5HhEXQxA

                               362659
genres_stripped  'psychedelic trance'

             363066
artist  Wizzy Noise

                        363066
songid  6ZOfQckaI6PzHs7LzPUloL

                               363066
genres_stripped  'psychedelic trance'

             363358
artist  Wizzy Noise

                        363358
songid  11CmitDE33bW85jLRqqetu

                               363358
genres_stripped  'psychedelic trance'

                   363577
artist  Infected Mushroom

                        363577
songid  2NRFvNVeJ7GVQ46WW8lUbx

                               363577
genres_stripped  'psychedelic trance'

             364007
artist  Wizzy Noise

                        364007
songid  1kunTbtKUIzenKiRUSPw9m

                               364007
genres_stripped  'psychedelic trance'

                 364015
artist  Safi Connection

                        364015
songid  1iuffUIQ4ZEMtly9GSHgfT

                               364015
genres_stripped  'psychedelic trance'

       365089
artist    SFX

                        365089
songid  3rYR0dL0K6qtvLafQOQ3yV

                               365089
genres_stripped  'psychedelic trance'

          369418
artist  Hux Flux

                        369418
songid  3UE7AFe9dKMqHT7DQZ4C2d

                               369418
genres_stripped  'psychedelic trance'

                   374988
artist  Infected Mushroom

                        374988
songid  6oJ26BXRWArhGWiP2BpR8O

                               374988
genres_stripped  'psychedelic trance'

       376698
artist    SFX

                        376698
songid  0ZiZ54vsZ7IsSdhhNt7iA0

                               376698
genres_stripped  'psychedelic trance'

                   377445
artist  Astral Projection

                        377445
songid  3G5P41enoeEUW6jlbDEVww

                               377445
genres_stripped  'psychedelic trance'

                   380665
artist  Infected Mushroom

                        380665
songid  5l84y7hWBJEpTSITMPFAu8

                               380665
genres_stripped  'psychedelic trance'

                 381795
artist  Safi Connection

                        381795
songid  1p7LkyaD55OQ4r8Tnzk79c

                               381795
genres_stripped  'psychedelic trance'

                 383737
artist  Safi Connection

                        383737
songid  5kRfkJXyOBjCraBjpWSMjg

                               383737
genres_stripped  'psychedelic trance'

           384381
artist  Dark Soho

                        384381
songid  6GhUp5kgxSPqpagguKpH7X

                               384381
genres_stripped  'psychedelic trance'

                   385506
artist  Infected Mushroom

                        385506
songid  4KU8o8fUUbTqwv3GvQ23wx

                               385506
genres_stripped  'psychedelic trance'

             385562
artist  Wizzy Noise

                        385562
songid  12C2f6hFfDMvdZuGzapLZG

                               385562
genres_stripped  'psychedelic trance'

                389344
artist  S.U.N. Project

                        389344
songid  0V8O3P9h6CeYo2zrRcToM3

                               389344
genres_stripped  'psychedelic trance'

                 389537
artist  Safi Connection

                        389537
songid  1PvyD34BTvx7f3jZEezC4Q

                               389537
genres_stripped  'psychedelic trance'

                   390784
artist  Infected Mushroom

                        390784
songid  0RVG2GI5QelXjjAHtwL1mI

                               390784
genres_stripped  'psychedelic trance'

                   392442
artist  Infected Mushroom

                        392442
songid  1ab7GqUsJLK0MxTFe2xQK5

                               392442
genres_stripped  'psychedelic trance'

             392458
artist  Wizzy Noise

                        392458
songid  4RcZP429ZCr86CgNrPC54P

                               392458
genres_stripped  'psychedelic trance'

             393905
artist  Wizzy Noise

                        393905
songid  6rErs0jPGYuAqHAQ2r8w67

                               393905
genres_stripped  'psychedelic trance'

          394260
artist  PsyCraft

                        394260
songid  32pWLQuHqQKewUcJMqWjOH

                               394260
genres_stripped  'psychedelic trance'

                   398467
artist  Astral Projection

                        398467
songid  4Wq6A0HHp3cT2gIHyIpz9Z

                               398467
genres_stripped  'psychedelic trance'

          401196
artist  PsyCraft

                        401196
songid  1VccFk3df2psmYWwarmRkR

                               401196
genres_stripped  'psychedelic trance'

                   401451
artist  Infected Mushroom

                        401451
songid  1QOM6z43xPmBfrhfbR9lAY

                               401451
genres_stripped  'psychedelic trance'

             404437
artist  Wizzy Noise

                        404437
songid  4AfReydoIqdN2RAOZddSoZ

                               404437
genres_stripped  'psychedelic trance'

           405723
artist  Dark Soho

                        405723
songid  5dPk6wgo9rtvlqZN0FnqDx

                               405723
genres_stripped  'psychedelic trance'

                   406556
artist  Infected Mushroom

                        406556
songid  6sNBEParYShG276NcP8Ff3

                               406556
genres_stripped  'psychedelic trance'

                   410726
artist  Astral Projection

                        410726
songid  7b9wycNC75NHeJJfjsc5kB

                               410726
genres_stripped  'psychedelic trance'

                   412584
artist  Infected Mushroom

                        412584
songid  3SvYVSC7o3Ee3QLLHO6QY9

                               412584
genres_stripped  'psychedelic trance'

                   413457
artist  Astral Projection

                        413457
songid  3HI9Q73w2jaBRXrOUWr4Cf

                               413457
genres_stripped  'psychedelic trance'

                   414872
artist  Infected Mushroom

                        414872
songid  5OZ2kpAMBHPmMkmSaVsw2X

                               414872
genres_stripped  'psychedelic trance'

          422230
artist  Hux Flux

                        422230
songid  7EC3gQP836IYzPQYpvusyy

                               422230
genres_stripped  'psychedelic trance'

           424353
artist  Dark Soho

                        424353
songid  0dBz4N6KPf8y3IjOkQRjPd

                               424353
genres_stripped  'psychedelic trance'

        425320
artist  Avalon

                        425320
songid  4jCizXbKHgfv7zc8I3VEeK

                               425320
genres_stripped  'psychedelic trance'

                   432344
artist  Astral Projection

                        432344
songid  2TeQfetkpoua6LG3d0eLTs

                               432344
genres_stripped  'psychedelic trance'

                   432489
artist  Infected Mushroom

                        432489
songid  5EEDnjtmJ0gDuygYlUFMAb

                               432489
genres_stripped  'psychedelic trance'

           432892
artist  Dark Soho

                        432892
songid  68kFa6cfHHHo5Wp24ERRgb

                               432892
genres_stripped  'psychedelic trance'

                 433129
artist  Safi Connection

                        433129
songid  4INjL8tdeMBr8RlQtNZnuF

                               433129
genres_stripped  'psychedelic trance'

                   438180
artist  Infected Mushroom

                        438180
songid  1IAtShkPcFnvYQPp6Rfv3Q

                               438180
genres_stripped  'psychedelic trance'

                 441404
artist  Safi Connection

                        441404
songid  3kniKZwtWGiqvlZM8ggwGc

                               441404
genres_stripped  'psychedelic trance'

            441604
artist  Astralasia

                        441604
songid  5BLZZgOgByQbVJWwrKZYeZ

                               441604
genres_stripped  'psychedelic trance'

       442177
artist   Doof

                        442177
songid  3YUN2cv8C7bRWIL85CnyQ8

                               442177
genres_stripped  'psychedelic trance'

                   444055
artist  Infected Mushroom

                        444055
songid  3F7pMSiQEwma5ujytC5aDV

                               444055
genres_stripped  'psychedelic trance'

          445082
artist  PsyCraft

                        445082
songid  1JUsTlOXjC1hyUc98sIyaB

                               445082
genres_stripped  'psychedelic trance'

                  446058
artist  Man With No Name

                        446058
songid  1Lr1w5PAkgrvdqxV5bell1

                               446058
genres_stripped  'psychedelic trance'

          446662
artist  PsyCraft

                        446662
songid  1v8mzWJURyfgmNHDrzzbWs

                               446662
genres_stripped  'psychedelic trance'

                   446909
artist  Infected Mushroom

                        446909
songid  3AxOIDbfsIUSsuWfUdkvOs

                               446909
genres_stripped  'psychedelic trance'

                   447675
artist  Infected Mushroom

                        447675
songid  4OiW5Ujm0y4HMJTicCL2Dl

                               447675
genres_stripped  'psychedelic trance'

                 448583
artist  Safi Connection

                        448583
songid  3ovblrW4H4J2yxECPT9jNf

                               448583
genres_stripped  'psychedelic trance'

          449718
artist  PsyCraft

                        449718
songid  3inAyScozfoz1vd3a3lGMq

                               449718
genres_stripped  'psychedelic trance'

                  450538
artist  Man With No Name

                        450538
songid  2CRo6BxH03JYBKpIXPHmGW

                               450538
genres_stripped  'psychedelic trance'

                   450694
artist  Astral Projection

                        450694
songid  2QtThKtyFplz2eb3UqtKDh

                               450694
genres_stripped  'psychedelic trance'

                 451260
artist  Safi Connection

                        451260
songid  22bHDWw00fDXdJ58Zim3BM

                               451260
genres_stripped  'psychedelic trance'

             452027
artist  Wizzy Noise

                        452027
songid  6Oz3XkZMTNTAzNoQCK5pRw

                               452027
genres_stripped  'psychedelic trance'

                 455581
artist  Safi Connection

                        455581
songid  0Ihdutez470RozvNGcVTde

                               455581
genres_stripped  'psychedelic trance'

          457377
artist  PsyCraft

                        457377
songid  48c3CvXfUhLj3bCO7d7rkw

                               457377
genres_stripped  'psychedelic trance'

                   457535
artist  Infected Mushroom

                        457535
songid  5eHLxiUSE6oKBuffxZ8J4T

                               457535
genres_stripped  'psychedelic trance'

                 462004
artist  Safi Connection

                        462004
songid  4DeBSwsJFvHE3a6TpG1ABN

                               462004
genres_stripped  'psychedelic trance'

       462411
artist    SFX

                        462411
songid  4S7arQ1PtQ2yV9qBszShf1

                               462411
genres_stripped  'psychedelic trance'

                   472078
artist  Infected Mushroom

                        472078
songid  4sSbU5gOeamGxMSi9N14OE

                               472078
genres_stripped  'psychedelic trance'

                 475204
artist  Safi Connection

                        475204
songid  47NHNC0QqOE6aN93KAfqRQ

                               475204
genres_stripped  'psychedelic trance'

                   475285
artist  Infected Mushroom

                        475285
songid  5IkZWNWiTV1BuRmoMgoi0g

                               475285
genres_stripped  'psychedelic trance'

                   476098
artist  Infected Mushroom

                        476098
songid  6GlTJnUy75c4rT49fpiHI9

                               476098
genres_stripped  'psychedelic trance'

                         476306
artist  Astral Projection (SFX)

                        476306
songid  4ipj9w3I01wkMKRkn5i4r8

                               476306
genres_stripped  'psychedelic trance'

                 477409
artist  Safi Connection

                        477409
songid  6tuK0JAc1S3BZ3AltoLAWX

                               477409
genres_stripped  'psychedelic trance'

                   478393
artist  Infected Mushroom

                        478393
songid  1RazIFgTjRoRM4bkltndoY

                               478393
genres_stripped  'psychedelic trance'

       478511
artist   Doof

                        478511
songid  4AFO4ee0L0K9Ptnr6eMpMy

                               478511
genres_stripped  'psychedelic trance'

                   492053
artist  Infected Mushroom

                        492053
songid  50tUMn6P26omoBXM7T3PQE

                               492053
genres_stripped  'psychedelic trance'

                   493706
artist  Infected Mushroom

                        493706
songid  3I4NpFeOGL3ETilM1jcFmd

                               493706
genres_stripped  'psychedelic trance'

                   496852
artist  Infected Mushroom

                        496852
songid  599rd1td6ZwaMl8vGzmq5W

                               496852
genres_stripped  'psychedelic trance'

                   500769
artist  Infected Mushroom

                        500769
songid  1SN2MghRR4hgs6b1ADx8MD

                               500769
genres_stripped  'psychedelic trance'

                   511992
artist  Infected Mushroom

                        511992
songid  54vuLFy0nA8Kvg36uMbfn1

                               511992
genres_stripped  'psychedelic trance'

                   550575
artist  Astral Projection

                        550575
songid  37XtfuLQkXUVlqkqA8d88D

                               550575
genres_stripped  'psychedelic trance'