In [13]:
import pickle
import pandas as pd
import numpy as np

# with open('./DF_genres_hashed.pkl', 'rb') as f:
#     df = pickle.load(f)

In [3]:
df["genres"].value_counts()

['baroque', 'classical', 'early music', 'german baroque']    3654
['classical', 'classical era']                               1907
['cartoon','children's music']                               1468
['smooth jazz']                                              1274
['edm', 'progressive house', 'trance']                       1131
                                                             ...
['singing bowl']                                                1
['dark post-punk', 'miami indie']                               1
['uk stoner rock']                                              1
['deep classic garage rock']                                    1
['brostep', 'dubstep', 'filthstep', 'zapstep']                  1
Name: genres, Length: 20720, dtype: int64

# DBSCAN Attempt - Takes too long on local machine - Will try Sagemaker

In [94]:
from sklearn.cluster import DBSCAN

dbscan = DBSCAN(eps=3, metric='euclidean', min_samples=50, n_jobs=-1)

In [95]:
dbscan.fit(X)

KeyboardInterrupt:

In [68]:
len(dbscan.labels_)

574018

In [67]:
len(set(dbscan.labels_))

14741

In [88]:
dbscan.labels_[1]

1

In [93]:
np.where(dbscan.labels_ == 1)[0]

array([     1,   7356,  29886,  41466,  46615, 155284, 183275, 189867,
       254445, 280660, 324065, 353040, 386550, 387436, 399202, 432767,
       439313])

In [90]:
for result in np.where(dbscan.labels_ == 1)[0]:
    display(pd.DataFrame(df.loc[result][10:11]),pd.DataFrame(df.loc[result][17:18]))

                             1
songid  41RpZW2lxAdnqDd2nMBzLQ

                                                                 1
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                          7356
songid  5KrT43gJer7GAmW7lzDswI

                                                              7356
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                         29886
songid  5U9yhINyd8DQzKOAcL3KxZ

                                                             29886
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                         41466
songid  4g0iPH8W6MVIIsDmOma48J

                                                             41466
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                         46615
songid  2ELdgpcrH5KTT3aZRjOFzq

                                                             46615
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                        155284
songid  0lo18DoW62vTW9uyosl8aA

                                                            155284
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                        183275
songid  3xVIcDuxudSY3Vcvx02pcl

                                                            183275
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                        189867
songid  6GyahSBWjd9NOdVmnZdBwL

                                                            189867
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                        254445
songid  0b2C1ICFJI0fT9E2iGmr7z

                                                            254445
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                        280660
songid  6SWvFS3J48z1eED88Htg2x

                                                            280660
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                        324065
songid  3niLZux4YrPkROBiQ5n10L

                                                            324065
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                        353040
songid  5HfSwVjTloGEAluKw3T3nh

                                                            353040
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                        386550
songid  6iHHO8hU7viCgZyU3LYi4i

                                                            386550
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                        387436
songid  1ymVpc3PgmD4Fi5Udid5bS

                                                            387436
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                        399202
songid  4Q2ghKdoEfrpleKAG03a5R

                                                            399202
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                        432767
songid  2VYLZO3LakAgSWK9DTLWE3

                                                            432767
genres_stripped  'bass music', 'scottish electronic', 'scottish...

                        439313
songid  5jHWYX0vFoCTo9Vfi2oL5Y

                                                            439313
genres_stripped  'bass music', 'scottish electronic', 'scottish...