In [1]:
import pickle
import pandas as pd
import numpy as np

with open('./DF_genres_hashed.pkl', 'rb') as f:
    df = pickle.load(f)

In [2]:
df["genres"].value_counts()

['baroque', 'classical', 'early music', 'german baroque']                             3654
['classical', 'classical era']                                                        1907
['cartoon','children's music']                                                        1468
['smooth jazz']                                                                       1274
['edm', 'progressive house', 'trance']                                                1131
                                                                                      ...
['neo r&b', 'nyc pop']                                                                   1
['psychedelic doom', 'retro metal', 'sludge metal', 'stoner metal', 'stoner rock']       1
['thai instrumental']                                                                    1
['punk colombiano']                                                                      1
['folk-pop', 'pop folk']                                                                 1
Name: genres, Length: 20720, dtype: int64

In [9]:
df.head()

,acousticness,artist,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,...,40,41,42,43,44,45,46,47,48,49
0,0.001300,Karkkiautomaatti,0.487,157307.0,0.678,0.055100,9.0,0.0846,-7.780,1.0,...,0.0,-1.0,1.0,2.0,-3.0,0.0,0.0,0.0,0.0,-2.0
1,0.000045,Hudson Mohawke,0.662,138960.0,0.823,0.952000,4.0,0.3430,-1.711,0.0,...,0.0,-4.0,5.0,7.0,-4.0,-1.0,0.0,0.0,0.0,-7.0
2,0.002760,Kris Kross,0.859,221200.0,0.741,0.000000,11.0,0.3250,-12.329,0.0,...,0.0,-3.0,0.0,1.0,-2.0,-1.0,0.0,0.0,0.0,-1.0
3,0.348000,Jorge Negrete,0.361,173573.0,0.483,0.000003,7.0,0.1770,-6.875,1.0,...,0.0,-2.0,1.0,2.0,-1.0,2.0,0.0,0.0,0.0,0.0
4,0.340000,Tiger Lou,0.533,318467.0,0.302,0.179000,10.0,0.1110,-10.308,1.0,...,0.0,0.0,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,-2.0

# DBSCAN Attempt - Takes too long on local machine - Will try Sagemaker

In [3]:
from sklearn.cluster import DBSCAN

dbscan = DBSCAN(eps=3, metric='euclidean', min_samples=50, n_jobs=-1)

In [6]:
# un-pickling model
with open('DBSCAN_Model.pkl', 'rb') as f:
    dbscan = pickle.load(f)

/Users/alexanderbennett/.local/share/virtualenvs/model_notebooks-FtE4iyOL/lib/python3.7/site-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.cluster.dbscan_ module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.cluster. Anything that cannot be imported from sklearn.cluster is now part of the private API.
  warnings.warn(message, FutureWarning)
/Users/alexanderbennett/.local/share/virtualenvs/model_notebooks-FtE4iyOL/lib/python3.7/site-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator DBSCAN from version 0.20.3 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [10]:
len(dbscan.labels_)

574018

In [11]:
len(set(dbscan.labels_))

2944

In [12]:
dbscan.labels_[1]

-1

In [13]:
np.where(dbscan.labels_ == 1)[0]

array([     4,   1602,   4999,   5273,   5715,   7067,   8353,  10857,
        14660,  15481,  15589,  15742,  16141,  19764,  19775,  20109,
        21378,  22170,  23617,  24118,  27734,  28066,  28177,  29058,
        30805,  37730,  40770,  41179,  41665,  42324,  43902,  47481,
        47710,  47773,  52242,  53395,  53608,  56391,  56787,  59794,
        59800,  63364,  69644,  71726,  75120,  78089,  79731,  79780,
        79977,  80569,  81331,  81550,  82111,  82584,  83497,  86819,
        91617,  92298,  93049,  94047,  97305,  97730, 100633, 100674,
       101554, 102962, 106644, 111185, 112775, 114516, 114542, 115561,
       118051, 118792, 119242, 120361, 121068, 122231, 123138, 124565,
       126546, 130707, 130894, 131414, 132493, 133188, 134412, 134590,
       135060, 135895, 136046, 137243, 139864, 141316, 146508, 150647,
       156100, 156399, 156441, 157477, 159465, 159575, 160467, 161871,
       162275, 162355, 163401, 164199, 167017, 168518, 170016, 170670,
       176735, 179273, 181781, 184691, 188215, 188872, 192304, 192335,
       193470, 195778, 196171, 200592, 201342, 202248, 203542, 203823,
       203948, 206985, 207260, 207312, 207332, 210388, 210495, 211665,
       213669, 214054, 214277, 214824, 215383, 216467, 218903, 219514,
       220188, 221163, 222879, 225231, 226460, 226799, 226832, 227566,
       227836, 231327, 231461, 236245, 239651, 241473, 246302, 249375,
       250363, 251368, 255980, 256391, 257327, 258805, 262890, 266284,
       266323, 270269, 271046, 271644, 272354, 274247, 274973, 276364,
       280574, 281484, 281956, 282661, 283216, 283722, 284421, 285743,
       292117, 292868, 293210, 294323, 297368, 297938, 300148, 300382,
       300871, 303286, 307960, 309553, 310369, 311682, 313546, 316128,
       316515, 318848, 319170, 320026, 321191, 321374, 322187, 324085,
       324160, 324800, 327546, 327976, 328049, 328679, 331534, 333367,
       336131, 337061, 337739, 338118, 341232, 347549, 350425, 351928,
       353572, 355655, 355762, 357044, 357800, 358246, 359017, 360690,
       361767, 363430, 363661, 365427, 366145, 366250, 366799, 368732,
       369807, 370457, 372789, 374238, 376009, 378629, 379773, 380150,
       380967, 381274, 384162, 384692, 391498, 392177, 392198, 392590,
       393328, 394154, 394980, 395729, 395975, 396578, 399664, 404021,
       405802, 407362, 408651, 411470, 416091, 416924, 420164, 420332,
       421992, 422811, 424128, 424712, 424736, 425311, 425414, 435756,
       438596, 439968, 440642, 443749, 448101, 449008, 450553, 451166,
       451839, 454210, 456078, 456147, 456514, 457495, 457966, 458264,
       460512, 460847, 462320, 464741, 465836, 468521, 468653, 471723,
       474676, 475753, 476034, 478000, 479277, 505441, 510519, 512285,
       514103, 518066, 520168, 524794, 525590, 527347, 528251, 530223])

In [14]:
for result in np.where(dbscan.labels_ == 1)[0]:
    display(pd.DataFrame(df.loc[result][10:11]),pd.DataFrame(df.loc[result][17:18]))

                             4
songid  2HyFpkX9J7vv3OZNDaraHZ

                                    4
genres_stripped  'swedish indie rock'

                          1602
songid  4HP7G0lfGjdgiwIZkzlPYf

                                 1602
genres_stripped  'swedish indie rock'

                          4999
songid  42JpNXQuZdWRG9x3rmWyGs

                                 4999
genres_stripped  'swedish indie rock'

                          5273
songid  4pWLb6xo6tHEo6JdTVqnVN

                                 5273
genres_stripped  'swedish indie rock'

                          5715
songid  0MN2pVZOfhUipfypEJyZqq

                                 5715
genres_stripped  'swedish indie rock'

                          7067
songid  0QLK3lrvfkJGNonDpoQPxK

                                 7067
genres_stripped  'swedish indie rock'

                          8353
songid  6fQ2McMTDbH9T72hsCyEFW

                                 8353
genres_stripped  'swedish indie rock'

                         10857
songid  4K552HPvZCEvXkKeKGU0tf

                                10857
genres_stripped  'swedish indie rock'

                         14660
songid  7rKe8jYZncW5GtH6YkL0uP

                                14660
genres_stripped  'swedish indie rock'

                         15481
songid  70z0WUOTsh6uvToAyFQLZO

                                15481
genres_stripped  'swedish indie rock'

                         15589
songid  0oGnDBMcfNwllqDkXNZDA1

                                15589
genres_stripped  'swedish indie rock'

                         15742
songid  4vLzfgUa5wzEhGqp5coImy

                                15742
genres_stripped  'swedish indie rock'

                         16141
songid  1y5YDADiFxwtV9M2itHEp8

                                16141
genres_stripped  'swedish indie rock'

                         19764
songid  4pUKDHfQJ1wGWDAtEcQve3

                                19764
genres_stripped  'swedish indie rock'

                         19775
songid  4WburZhKAydVR9EcFeUlv2

                                19775
genres_stripped  'swedish indie rock'

                         20109
songid  3XiMBPBEXCDwsmfLIoBBFB

                                20109
genres_stripped  'swedish indie rock'

                         21378
songid  3qvA3ZBRYgZ6ci2YItP4Ye

                                21378
genres_stripped  'swedish indie rock'

                         22170
songid  1IGzW7GRofRy6VbecTiDfX

                                22170
genres_stripped  'swedish indie rock'

                         23617
songid  4O1yurtwLTeNIflb5jdJCk

                                23617
genres_stripped  'swedish indie rock'

                         24118
songid  4x1L7PH11zJn7yuPWaAXaf

                                24118
genres_stripped  'swedish indie rock'

                         27734
songid  3uBSBASof75bXwq7nS3qwB

                                27734
genres_stripped  'swedish indie rock'

                         28066
songid  2NTKafH0PM7RBfKzkkfHfO

                                28066
genres_stripped  'swedish indie rock'

                         28177
songid  6PwWRfM9daEbL9ZaBZBFZ6

                                28177
genres_stripped  'swedish indie rock'

                         29058
songid  6NKYYeHRjY5xBlUEUMqc5g

                                29058
genres_stripped  'swedish indie rock'

                         30805
songid  4F4vjbdohSrviGgv1cesHx

                                30805
genres_stripped  'swedish indie rock'

                         37730
songid  3SP7lfz1F0ZHmVSPKPP5FW

                                37730
genres_stripped  'swedish indie rock'

                         40770
songid  0nioVfwhVh1MsEBJyHHFos

                                40770
genres_stripped  'swedish indie rock'

                         41179
songid  1B9T6UDoQ0OogcJyn6UOCj

                                41179
genres_stripped  'swedish indie rock'

                         41665
songid  1ScD2k9YHse8rbHPzRpm2w

                                41665
genres_stripped  'swedish indie rock'

                         42324
songid  3anbNdL3zqN6k5WIjKYyHa

                                42324
genres_stripped  'swedish indie rock'

                         43902
songid  65OYnKL0cw6eqZ0kdcTRKN

                                43902
genres_stripped  'swedish indie rock'

                         47481
songid  6YJ1HOzQlNOBTSDTO1t9bP

                                47481
genres_stripped  'swedish indie rock'

                         47710
songid  14WrYIFpHTUMIdjlJbTA6W

                                47710
genres_stripped  'swedish indie rock'

                         47773
songid  6IqVfmuvBvOLU574un7yom

                                47773
genres_stripped  'swedish indie rock'

                         52242
songid  3ZGHbrUrHst8NzU2qQtAnJ

                                52242
genres_stripped  'swedish indie rock'

                         53395
songid  15CzfXKqBWgef55lRQPixz

                                53395
genres_stripped  'swedish indie rock'

                         53608
songid  1FzJOhI9QbQN1LL2Y33SFj

                                53608
genres_stripped  'swedish indie rock'

                         56391
songid  58lsGFNJsGI4xy1CTevouR

                                56391
genres_stripped  'swedish indie rock'

                         56787
songid  0R5JItT5i57ZK2mujWZnvi

                                56787
genres_stripped  'swedish indie rock'

                         59794
songid  3BokQkEyu830jVCkUOp1zT

                                59794
genres_stripped  'swedish indie rock'

                         59800
songid  1VaI3VLNMdfkCfBjpXef3L

                                59800
genres_stripped  'swedish indie rock'

                         63364
songid  5QYdt1Iv6EvMHehFBGDzyr

                                63364
genres_stripped  'swedish indie rock'

                         69644
songid  6dsFyM7WyYHHyLxb3frzyo

                                69644
genres_stripped  'swedish indie rock'

                         71726
songid  6AsBuYFvvF8GIlCpzeoFPU

                                71726
genres_stripped  'swedish indie rock'

                         75120
songid  186XBxaTZf2TyC3IBbCPIn

                                75120
genres_stripped  'swedish indie rock'

                         78089
songid  0bRLNCs4eaE4TB3od7LLuc

                                78089
genres_stripped  'swedish indie rock'

                         79731
songid  2XdqpbWk9vrnnXGDqeGawA

                                79731
genres_stripped  'swedish indie rock'

                         79780
songid  6E0qhj4oYWWpw5jDDHCjrE

                                79780
genres_stripped  'swedish indie rock'

                         79977
songid  5W8x0ElCgm6rNF78fNBGru

                                79977
genres_stripped  'swedish indie rock'

                         80569
songid  78PZweRdHb7NoWbewLSjD2

                                80569
genres_stripped  'swedish indie rock'

                         81331
songid  0dWmt4WW5ZjmyoBa5xbY8X

                                81331
genres_stripped  'swedish indie rock'

                         81550
songid  1sOMmJG2uqqa4kLpG9jlXQ

                                81550
genres_stripped  'swedish indie rock'

                         82111
songid  7n4WuxppotRVCfTMtRDH9Q

                                82111
genres_stripped  'swedish indie rock'

                         82584
songid  4zfOtyoKyu9y27KQphnIXp

                                82584
genres_stripped  'swedish indie rock'

                         83497
songid  1YGgNbedAkwNuytIpt7rZf

                                83497
genres_stripped  'swedish indie rock'

                         86819
songid  2YRSBPw0lT4rndMNxxg5Oi

                                86819
genres_stripped  'swedish indie rock'

                         91617
songid  5Gciri9Ov1h6NK5nuOODrw

                                91617
genres_stripped  'swedish indie rock'

                         92298
songid  3GsepKdJoqCnDVmAIDfKGX

                                92298
genres_stripped  'swedish indie rock'

                         93049
songid  397hTxTQNfvENOMArGgngv

                                93049
genres_stripped  'swedish indie rock'

                         94047
songid  5NyPBRxxCDo96aW3PvmpjQ

                                94047
genres_stripped  'swedish indie rock'

                         97305
songid  3MVsfENbtTtjJjQaUSIBpr

                                97305
genres_stripped  'swedish indie rock'

                         97730
songid  4y2IielMN6hgK3DzCQo7SG

                                97730
genres_stripped  'swedish indie rock'

                        100633
songid  5hQo1fxrcOPE3LFdWE2aBq

                               100633
genres_stripped  'swedish indie rock'

                        100674
songid  3CXBO9SNJSK13uhsOlRwjp

                               100674
genres_stripped  'swedish indie rock'

                        101554
songid  0IfNVImABgbDe2qLUU3fM7

                               101554
genres_stripped  'swedish indie rock'

                        102962
songid  3Yq9zwchNVo6BrHZ6VZJ5w

                               102962
genres_stripped  'swedish indie rock'

                        106644
songid  0L0ZOweIQmHo1aQpEPC94a

                               106644
genres_stripped  'swedish indie rock'

                        111185
songid  1RojbjW0ETSmX4MzlGLDMI

                               111185
genres_stripped  'swedish indie rock'

                        112775
songid  0OUXVneMMz6oD5SEs6aO08

                               112775
genres_stripped  'swedish indie rock'

                        114516
songid  0pCf6lPsWJ7MttCIc09o03

                               114516
genres_stripped  'swedish indie rock'

                        114542
songid  3KilzvBJzTrHRnYRVTuIc8

                               114542
genres_stripped  'swedish indie rock'

                        115561
songid  6aR3hBthUHY3VL4ZsRCi2k

                               115561
genres_stripped  'swedish indie rock'

                        118051
songid  76TsWE8ppTr7RDOHqFTobZ

                               118051
genres_stripped  'swedish indie rock'

                        118792
songid  3Tkb7Rcq3wFnWu21vSHkEv

                               118792
genres_stripped  'swedish indie rock'

                        119242
songid  4GbPjDTpMHHmlQ6lstLIr7

                               119242
genres_stripped  'swedish indie rock'

                        120361
songid  2edp7Dxkha5kuxDwVLobqT

                               120361
genres_stripped  'swedish indie rock'

                        121068
songid  5hgPfAcHi39OcQMoxmrYd0

                               121068
genres_stripped  'swedish indie rock'

                        122231
songid  0X4i3xBk5mFjdSUE9Nc9e5

                               122231
genres_stripped  'swedish indie rock'

                        123138
songid  3aVy0GBb99mhVH4Kpxnnnp

                               123138
genres_stripped  'swedish indie rock'

                        124565
songid  4AdpbPakr1ylOHluoYvqL2

                               124565
genres_stripped  'swedish indie rock'

                        126546
songid  3L7gekDNxK0M8PDV2a3D5u

                               126546
genres_stripped  'swedish indie rock'

                        130707
songid  7cB6XUqeKheokHVJ0OUwH1

                               130707
genres_stripped  'swedish indie rock'

                        130894
songid  3HMOasgoy34Ybm6v7oQsDG

                               130894
genres_stripped  'swedish indie rock'

                        131414
songid  6AXPbfkiW52sjoMcFM7pCH

                               131414
genres_stripped  'swedish indie rock'

                        132493
songid  3Aqi8Q4IElcSqRBCooENzL

                               132493
genres_stripped  'swedish indie rock'

                        133188
songid  6PD0QH0qZLdl8Scjxyb911

                               133188
genres_stripped  'swedish indie rock'

                        134412
songid  7gaqYAWkvpkQ913snm7d35

                               134412
genres_stripped  'swedish indie rock'

                        134590
songid  5PDyvRS5KAwMOZxUF9k8d4

                               134590
genres_stripped  'swedish indie rock'

                        135060
songid  4nN4gLhalSkNAMR3cbvovU

                               135060
genres_stripped  'swedish indie rock'

                        135895
songid  2ACfcRwJe8wR1sPGUGPS1G

                               135895
genres_stripped  'swedish indie rock'

                        136046
songid  0Ncu2SNTSzrSFw01DCcjtc

                               136046
genres_stripped  'swedish indie rock'

                        137243
songid  4DKmcRCDHhJnYCzuexdbs0

                               137243
genres_stripped  'swedish indie rock'

                        139864
songid  2fouRAMwLPK8iMvu4cHRkF

                               139864
genres_stripped  'swedish indie rock'

                        141316
songid  677wowms5yw6S0OSAKoyLY

                               141316
genres_stripped  'swedish indie rock'

                        146508
songid  5cFrcISfV0TYYGXr0KSceL

                               146508
genres_stripped  'swedish indie rock'

                        150647
songid  2FruyicxJBzSDnnJcUKOc1

                               150647
genres_stripped  'swedish indie rock'

                        156100
songid  55ku9PdD4qYb8RNVggGiU8

                               156100
genres_stripped  'swedish indie rock'

                        156399
songid  1atQIFBnke4eydIoFacxRr

                               156399
genres_stripped  'swedish indie rock'

                        156441
songid  62fV05vZT9KWoTacueCao8

                               156441
genres_stripped  'swedish indie rock'

                        157477
songid  1hhIeUk2D9CFSrXruPFNp5

                               157477
genres_stripped  'swedish indie rock'

                        159465
songid  2ZWhYvWVG7zDtK47M45cW2

                               159465
genres_stripped  'swedish indie rock'

                        159575
songid  6AHonaU6oC8otP8gLdPCcE

                               159575
genres_stripped  'swedish indie rock'

                        160467
songid  6k1uQTYJjoUgy3r7uBQxwb

                               160467
genres_stripped  'swedish indie rock'

                        161871
songid  79CN404wrJmgue97S2w6VQ

                               161871
genres_stripped  'swedish indie rock'

                        162275
songid  62AKHoT9JqL8WOZ5T99G8T

                               162275
genres_stripped  'swedish indie rock'

                        162355
songid  798HH05p5m1dLJQJR87FN1

                               162355
genres_stripped  'swedish indie rock'

                        163401
songid  4x2aWJ6BSFXhhfwOSQTsvj

                               163401
genres_stripped  'swedish indie rock'

                        164199
songid  0qifQ9pj1NFFxrYnTvl95k

                               164199
genres_stripped  'swedish indie rock'

                        167017
songid  15jjHmtBZXqSX0cytgCqnT

                               167017
genres_stripped  'swedish indie rock'

                        168518
songid  2kPSShN0vg6riv03STFYFW

                               168518
genres_stripped  'swedish indie rock'

                        170016
songid  2qz4Lu7VNyZ8PqP2kIyI7f

                               170016
genres_stripped  'swedish indie rock'

                        170670
songid  5XD65WGfgGrWWmzoiIPPeC

                               170670
genres_stripped  'swedish indie rock'

                        176735
songid  3hF64jjUfnH9HHZphFYadS

                               176735
genres_stripped  'swedish indie rock'

                        179273
songid  2BoccTjIq873A2I9vwIFH9

                               179273
genres_stripped  'swedish indie rock'

                        181781
songid  3AB9wMcLQnns3dOiutOdDp

                               181781
genres_stripped  'swedish indie rock'

                        184691
songid  3nWglyDhjRTOe9kMLOI2T1

                               184691
genres_stripped  'swedish indie rock'

                        188215
songid  2Sd3Hn3hbnZrKOeUK2Pr8n

                               188215
genres_stripped  'swedish indie rock'

                        188872
songid  5oB9BIK1mN7THZyz1snsVv

                               188872
genres_stripped  'swedish indie rock'

                        192304
songid  5xLcq1j0bHzSNOO7VVvJfD

                               192304
genres_stripped  'swedish indie rock'

                        192335
songid  6yvRLTjgMUMEC9YnsHnkE3

                               192335
genres_stripped  'swedish indie rock'

                        193470
songid  1Vi3YY6tGDL2giE0C3z2du

                               193470
genres_stripped  'swedish indie rock'

                        195778
songid  7K2M5NGPtYefozS0dgT8jb

                               195778
genres_stripped  'swedish indie rock'

                        196171
songid  0McbD5H1MDXieG5FM3f45R

                               196171
genres_stripped  'swedish indie rock'

                        200592
songid  0AzijDNoP7WBmxfA09uyYt

                               200592
genres_stripped  'swedish indie rock'

                        201342
songid  7htQ16D0veAl2Wo6KAp3EH

                               201342
genres_stripped  'swedish indie rock'

                        202248
songid  4vI4hhYvzz3wdImB8YK7ZE

                               202248
genres_stripped  'swedish indie rock'

                        203542
songid  0NzommJZN1ISCTPkNXqmCM

                               203542
genres_stripped  'swedish indie rock'

                        203823
songid  6sI4wUZ93Dx4ExGVzKyp8v

                               203823
genres_stripped  'swedish indie rock'

                        203948
songid  0tCPiG4TAVCN4YVj8dJGI8

                               203948
genres_stripped  'swedish indie rock'

                        206985
songid  3P38VF3rxT10ZAIjoSv1W9

                               206985
genres_stripped  'swedish indie rock'

                        207260
songid  4Yzpqq9f89bQoF6z85LqvC

                               207260
genres_stripped  'swedish indie rock'

                        207312
songid  2X7TeWXZosmLbbkm5pMIGT

                               207312
genres_stripped  'swedish indie rock'

                        207332
songid  0h14qrejfnZWkgUNfIZBjB

                               207332
genres_stripped  'swedish indie rock'

                        210388
songid  5xMVooPcWmWH17EplAVMsI

                               210388
genres_stripped  'swedish indie rock'

                        210495
songid  0m5z0MPeYChVeoC8wian0I

                               210495
genres_stripped  'swedish indie rock'

                        211665
songid  4rNRxyHO0WHC2qzcGmMA7m

                               211665
genres_stripped  'swedish indie rock'

                        213669
songid  6NQwbgL2xiRVuF8uWM30Pg

                               213669
genres_stripped  'swedish indie rock'

                        214054
songid  27pfHkr5VUectGEM7JVTqG

                               214054
genres_stripped  'swedish indie rock'

                        214277
songid  75eBLsuKyJSB2gSnRMB29I

                               214277
genres_stripped  'swedish indie rock'

                        214824
songid  4ec2ZqQHfgy0l4ObRjZjNj

                               214824
genres_stripped  'swedish indie rock'

                        215383
songid  2q2V9MDTfCime3q27pEhKG

                               215383
genres_stripped  'swedish indie rock'

                        216467
songid  6npf2YJNFxVh5vqlJtnxgS

                               216467
genres_stripped  'swedish indie rock'

                        218903
songid  7CbKO3EtswA3Z5c2YuhSYT

                               218903
genres_stripped  'swedish indie rock'

                        219514
songid  64lp8owijFoLtsFwfXropL

                               219514
genres_stripped  'swedish indie rock'

                        220188
songid  6c4Dh06nGAEkOI75cwabZa

                               220188
genres_stripped  'swedish indie rock'

                        221163
songid  0rYtvnOjqEZwvZWdkGejUC

                               221163
genres_stripped  'swedish indie rock'

                        222879
songid  234nHcmdTJjFkostJNjw9w

                               222879
genres_stripped  'swedish indie rock'

                        225231
songid  6vQ8jLjCMhaMsi6X4pdRzU

                               225231
genres_stripped  'swedish indie rock'

                        226460
songid  1wFdAIhDF9ctlffzjLR74E

                               226460
genres_stripped  'swedish indie rock'

                        226799
songid  57fxOFNiXTz3o5LcuIMbL5

                               226799
genres_stripped  'swedish indie rock'

                        226832
songid  0E6tWmuK459SJ0eXm93yju

                               226832
genres_stripped  'swedish indie rock'

                        227566
songid  3AUixkKRMy646aqBg7CS6p

                               227566
genres_stripped  'swedish indie rock'

                        227836
songid  62AWfohOjN4AbHHilCyZOa

                               227836
genres_stripped  'swedish indie rock'

                        231327
songid  3f2Cb6zgWKA63RATGNAdvE

                               231327
genres_stripped  'swedish indie rock'

                        231461
songid  5e63fJRQdl9Su9f7Q2SqyH

                               231461
genres_stripped  'swedish indie rock'

                        236245
songid  5fT97kSfFHU5Ww6xy6ge31

                               236245
genres_stripped  'swedish indie rock'

                        239651
songid  4tGjO4N9mqh9E0gIyCkLCX

                               239651
genres_stripped  'swedish indie rock'

                        241473
songid  5D6aEDqwWqsJrDcFZeRlTk

                               241473
genres_stripped  'swedish indie rock'

                        246302
songid  38JBgNLs76xiL5ttnBe2pX

                               246302
genres_stripped  'swedish indie rock'

                        249375
songid  2Owqc4VHBH9DMnIKX1i13J

                               249375
genres_stripped  'swedish indie rock'

                        250363
songid  7dOHcmtneiT6VHlACYufdc

                               250363
genres_stripped  'swedish indie rock'

                        251368
songid  0UPbXNBlolKqf0pdShujGr

                               251368
genres_stripped  'swedish indie rock'

                        255980
songid  34DkkevY0oHUaKWVVJSYPy

                               255980
genres_stripped  'swedish indie rock'

                        256391
songid  3LgNfgXrsIr5ewmrlelU1T

                               256391
genres_stripped  'swedish indie rock'

                        257327
songid  2SMBvBP6Dp75khb5CX7Zg0

                               257327
genres_stripped  'swedish indie rock'

                        258805
songid  1u6QfXznOpkbvknprI8fV4

                               258805
genres_stripped  'swedish indie rock'

                        262890
songid  2qgchWJBXsWei5aBCp2tZu

                               262890
genres_stripped  'swedish indie rock'

                        266284
songid  2W3m2f6BJuKoVsOKbisjlB

                               266284
genres_stripped  'swedish indie rock'

                        266323
songid  0jVN856m0WcQ6cB7oqiA6e

                               266323
genres_stripped  'swedish indie rock'

                        270269
songid  6YYEs3tAndoXSepkBO0h0R

                               270269
genres_stripped  'swedish indie rock'

                        271046
songid  1308ckJ9C6L76b6xYcehVv

                               271046
genres_stripped  'swedish indie rock'

                        271644
songid  1EDFYVa50sXCyhRK6NNgcp

                               271644
genres_stripped  'swedish indie rock'

                        272354
songid  23mtUCC5pUfmrQlMX5VAKd

                               272354
genres_stripped  'swedish indie rock'

                        274247
songid  4jJA1GAHah8Kh0lxf4U1N4

                               274247
genres_stripped  'swedish indie rock'

                        274973
songid  6Z9cR93Ct9EpAph5GciqoS

                               274973
genres_stripped  'swedish indie rock'

                        276364
songid  6nab6JgqYD8P6csqKZ3HAA

                               276364
genres_stripped  'swedish indie rock'

                        280574
songid  1lr72A2PPtjF7lyqsg7wgC

                               280574
genres_stripped  'swedish indie rock'

                        281484
songid  3NYscJAn0heaDgR7FNOS4D

                               281484
genres_stripped  'swedish indie rock'

                        281956
songid  34PvB5lFkuhLyJOIM3z6n7

                               281956
genres_stripped  'swedish indie rock'

                        282661
songid  46tIACQzwIxzd9juPZozpW

                               282661
genres_stripped  'swedish indie rock'

                        283216
songid  2vLRqydya2tkTpHdeSKTnz

                               283216
genres_stripped  'swedish indie rock'

                        283722
songid  2xDGScWHsH5Ie7m3DZ2bwl

                               283722
genres_stripped  'swedish indie rock'

                        284421
songid  2KDBgC4VXpPjzc0EkSq7Yn

                               284421
genres_stripped  'swedish indie rock'

                        285743
songid  01SgAvBhhgcAtkC0YghVsH

                               285743
genres_stripped  'swedish indie rock'

                        292117
songid  7EfKT02irtQeZ8kv7nSjUi

                               292117
genres_stripped  'swedish indie rock'

                        292868
songid  2ftB2SzLxfnAIOc85JCz3l

                               292868
genres_stripped  'swedish indie rock'

                        293210
songid  6pVaHZMua6pL1HJyN7dgYH

                               293210
genres_stripped  'swedish indie rock'

                        294323
songid  1flOWDAD4swrTHOiC9N8tJ

                               294323
genres_stripped  'swedish indie rock'

                        297368
songid  7A6Vq1RvlbogZLQMUrrVuc

                               297368
genres_stripped  'swedish indie rock'

                        297938
songid  0rq1JMJ94mGCuy3bJQerr0

                               297938
genres_stripped  'swedish indie rock'

                        300148
songid  2Cg8ZdQQL9Jwcs5DXAtJfG

                               300148
genres_stripped  'swedish indie rock'

                        300382
songid  4kFdfNnWFFC19oUXKL0ChH

                               300382
genres_stripped  'swedish indie rock'

                        300871
songid  4PuvPBEaTXqx0STLWFHpEX

                               300871
genres_stripped  'swedish indie rock'

                        303286
songid  26FRnWvQtgfKHUyeakxdxg

                               303286
genres_stripped  'swedish indie rock'

                        307960
songid  2htcb9Z0btvvyTxkn8qdPJ

                               307960
genres_stripped  'swedish indie rock'

                        309553
songid  7Jt2ea2VfQYI3j6uPUvE7F

                               309553
genres_stripped  'swedish indie rock'

                        310369
songid  1cZNQfsIQPvfQABzZYuKVq

                               310369
genres_stripped  'swedish indie rock'

                        311682
songid  0XVNMhnmCAcsrZCeSRR5bM

                               311682
genres_stripped  'swedish indie rock'

                        313546
songid  0ajXil787pzwgqzUL2mFK3

                               313546
genres_stripped  'swedish indie rock'

                        316128
songid  4u6wRGsSQmg0bghFh6q5qb

                               316128
genres_stripped  'swedish indie rock'

                        316515
songid  4vJcUve9POyqiWs29uRbof

                               316515
genres_stripped  'swedish indie rock'

                        318848
songid  0qBRn5wYfg8bhQQG6QgKzM

                               318848
genres_stripped  'swedish indie rock'

                        319170
songid  7ruXTBXagIkz908BdJgdVc

                               319170
genres_stripped  'swedish indie rock'

                        320026
songid  1d3KCm3NdVhY9VJ8PBNVt3

                               320026
genres_stripped  'swedish indie rock'

                        321191
songid  74xdDjuxWq2AlbgTTI4hdT

                               321191
genres_stripped  'swedish indie rock'

                        321374
songid  1PQgRy0QhErfXwFXoq4zL6

                               321374
genres_stripped  'swedish indie rock'

                        322187
songid  3EjdEN8azXpYLlJZFNlMpZ

                               322187
genres_stripped  'swedish indie rock'

                        324085
songid  5ajZGggYSW0LEgbSisamDC

                               324085
genres_stripped  'swedish indie rock'

                        324160
songid  41Gj0F8at3Vv3LMpr0IHxH

                               324160
genres_stripped  'swedish indie rock'

                        324800
songid  1r9oSTWSeXWBT1CLNv8Ghj

                               324800
genres_stripped  'swedish indie rock'

                        327546
songid  4OKzmuWpo2KUItBhD2DdZl

                               327546
genres_stripped  'swedish indie rock'

                        327976
songid  2WIRgAmXReJyMUVjL5xeKG

                               327976
genres_stripped  'swedish indie rock'

                        328049
songid  4uO8lOhutxfxOPZ8Mz4Ofq

                               328049
genres_stripped  'swedish indie rock'

                        328679
songid  73XaJ7fSv75aGhtJGRFWsu

                               328679
genres_stripped  'swedish indie rock'

                        331534
songid  3WqTsvwJCil9vMkqfnnWej

                               331534
genres_stripped  'swedish indie rock'

                        333367
songid  1LRQ4iOTJtWna1fuKgvmvK

                               333367
genres_stripped  'swedish indie rock'

                        336131
songid  0Tlec0bLsfyomZGUpKkZ0j

                               336131
genres_stripped  'swedish indie rock'

                        337061
songid  4T2OrTPUXri71do6qgR1V6

                               337061
genres_stripped  'swedish indie rock'

                        337739
songid  2JStf57dAn1BqgD3LjNWAn

                               337739
genres_stripped  'swedish indie rock'

                        338118
songid  5rVtgOsEZ0vtfHRRNjMd2u

                               338118
genres_stripped  'swedish indie rock'

                        341232
songid  1oQW1s8a2VQSyMrAcaTQMx

                               341232
genres_stripped  'swedish indie rock'

                        347549
songid  4r8B1zonEH2zTmwr5WGTF4

                               347549
genres_stripped  'swedish indie rock'

                        350425
songid  28Gj92olP10KJwg8MxvmSN

                               350425
genres_stripped  'swedish indie rock'

                        351928
songid  6UlG7C26PzTEI2WTaPxqVb

                               351928
genres_stripped  'swedish indie rock'

                        353572
songid  7KQ27WwO8P6DxcZ8zBDuFi

                               353572
genres_stripped  'swedish indie rock'

                        355655
songid  2nieDXr23bC0MnAo6k4VOU

                               355655
genres_stripped  'swedish indie rock'

                        355762
songid  4u0wTbzmjV2uLeCL4ta0xf

                               355762
genres_stripped  'swedish indie rock'

                        357044
songid  1jFjWAGSo5XqeP0Hszrpdd

                               357044
genres_stripped  'swedish indie rock'

                        357800
songid  7hKY28xQ2dcSDqyn7wo9rP

                               357800
genres_stripped  'swedish indie rock'

                        358246
songid  0SLJE3XKmFvfs8TLh6xYxf

                               358246
genres_stripped  'swedish indie rock'

                        359017
songid  6WdIhxjtB6f8qbWVhf1wFf

                               359017
genres_stripped  'swedish indie rock'

                        360690
songid  4KO5geEOc4trJCRrZPOKsy

                               360690
genres_stripped  'swedish indie rock'

                        361767
songid  0BXCslYnkJx3zI75AtQFIu

                               361767
genres_stripped  'swedish indie rock'

                        363430
songid  1M3HvnuwzLZGhQZ9kmZVfs

                               363430
genres_stripped  'swedish indie rock'

                        363661
songid  0OItI01yRdFrdujErpmBml

                               363661
genres_stripped  'swedish indie rock'

                        365427
songid  5hSMX1iEAOcQ1lgnvMMxjy

                               365427
genres_stripped  'swedish indie rock'

                        366145
songid  1pGMhJC5YNMu1yiwRAhAmh

                               366145
genres_stripped  'swedish indie rock'

                        366250
songid  6Id3DknoXJBKrbPskMxaIP

                               366250
genres_stripped  'swedish indie rock'

                        366799
songid  67rB46wwkLJ38ridAHCwE7

                               366799
genres_stripped  'swedish indie rock'

                        368732
songid  3buly2i0crTrQMfMHZ2BaL

                               368732
genres_stripped  'swedish indie rock'

                        369807
songid  3i7N3QD1JmkuTpXk7SCq24

                               369807
genres_stripped  'swedish indie rock'

                        370457
songid  3GPtLodlZifI0FqziZvKWF

                               370457
genres_stripped  'swedish indie rock'

                        372789
songid  3ersgxlaAvf91dFgRvtYxr

                               372789
genres_stripped  'swedish indie rock'

                        374238
songid  0SQQQ2FYJBjNfXV1rxUFa3

                               374238
genres_stripped  'swedish indie rock'

                        376009
songid  40m3BtGac7EdHBp8CJDsKy

                               376009
genres_stripped  'swedish indie rock'

                        378629
songid  0F6WhXRNhv35DtYjM0jP0w

                               378629
genres_stripped  'swedish indie rock'

                        379773
songid  5YBrV2ACPiELhrDBqwCiFM

                               379773
genres_stripped  'swedish indie rock'

                        380150
songid  4ZQQPRxmRlXOFLiz5E8Xce

                               380150
genres_stripped  'swedish indie rock'

                        380967
songid  1JyDmEfPNJ5xbrykoJuEt6

                               380967
genres_stripped  'swedish indie rock'

                        381274
songid  0D05h1ny0IpkaxdjjwNipW

                               381274
genres_stripped  'swedish indie rock'

                        384162
songid  0EePQigIULqJ6nhVsaDDxF

                               384162
genres_stripped  'swedish indie rock'

                        384692
songid  7Eit5qF2bxVt1xnzpuqjKe

                               384692
genres_stripped  'swedish indie rock'

                        391498
songid  5nHMmHQjYVjm6Pd0usvfMy

                               391498
genres_stripped  'swedish indie rock'

                        392177
songid  3A6SrtGMqb6x5btpsN4bsp

                               392177
genres_stripped  'swedish indie rock'

                        392198
songid  458zQYm1zh6OeCF3kwxcd1

                               392198
genres_stripped  'swedish indie rock'

                        392590
songid  4973CGjpFbGh1nMa5VEWju

                               392590
genres_stripped  'swedish indie rock'

                        393328
songid  0m2YY2RaC93IHKuWFH5MtK

                               393328
genres_stripped  'swedish indie rock'

                        394154
songid  6FpMAXcOH9exHaOrxi9149

                               394154
genres_stripped  'swedish indie rock'

                        394980
songid  3K76Na4eP8aXbxJmT8nezE

                               394980
genres_stripped  'swedish indie rock'

                        395729
songid  6x06gIBNKYWmVm768LZ1P1

                               395729
genres_stripped  'swedish indie rock'

                        395975
songid  2a9J4aCzMNOlX9cX3wmevq

                               395975
genres_stripped  'swedish indie rock'

                        396578
songid  6ynYBhrldXufjZEXRozOYr

                               396578
genres_stripped  'swedish indie rock'

                        399664
songid  36GuDDqhVavMexLDgGd6dI

                               399664
genres_stripped  'swedish indie rock'

                        404021
songid  0IYXVFqu0jkzNnnRDl2pTN

                               404021
genres_stripped  'swedish indie rock'

                        405802
songid  2FmczMlc7FkXoronZxZNyK

                               405802
genres_stripped  'swedish indie rock'

                        407362
songid  4UH8fQ38ZRd54R39tMfQOJ

                               407362
genres_stripped  'swedish indie rock'

                        408651
songid  2gF4dDwufUNmAMpKLBv8sk

                               408651
genres_stripped  'swedish indie rock'

                        411470
songid  09wTO4okLfjjJC7Um4AOqU

                               411470
genres_stripped  'swedish indie rock'

                        416091
songid  7uo3NwZ3t0hD5fdQO0ayuG

                               416091
genres_stripped  'swedish indie rock'

                        416924
songid  5e4kXdFji6u0MpMYBWGl4A

                               416924
genres_stripped  'swedish indie rock'

                        420164
songid  4ydpXjhNNOsKNFrWmXYJoa

                               420164
genres_stripped  'swedish indie rock'

                        420332
songid  4NM4oadDAkcKKtKHi1FA4P

                               420332
genres_stripped  'swedish indie rock'

                        421992
songid  1cVhApgbY94OCXliHigPAl

                               421992
genres_stripped  'swedish indie rock'

                        422811
songid  7cn8VUYlMn0B5aXX9mluOU

                               422811
genres_stripped  'swedish indie rock'

                        424128
songid  4P7UaVoMYOFBD6K0O66nzR

                               424128
genres_stripped  'swedish indie rock'

                        424712
songid  51rvrUUZWGM9uEcq5OOMKy

                               424712
genres_stripped  'swedish indie rock'

                        424736
songid  3dnkNezRvXhPp9qqlUjJ0u

                               424736
genres_stripped  'swedish indie rock'

                        425311
songid  3TreDkCzfpwGFYXPawLbXl

                               425311
genres_stripped  'swedish indie rock'

                        425414
songid  0KST8UNXzFyVXeChAPIwQs

                               425414
genres_stripped  'swedish indie rock'

                        435756
songid  31e51I2uoq7A3YF5BqiYLF

                               435756
genres_stripped  'swedish indie rock'

                        438596
songid  3Yzk5HYaBpDIxAwJOASaQ7

                               438596
genres_stripped  'swedish indie rock'

                        439968
songid  4b1ntGzAKGNBy5XSZ5IINh

                               439968
genres_stripped  'swedish indie rock'

                        440642
songid  5d1lJ2Vihti6BNUFwhIjqP

                               440642
genres_stripped  'swedish indie rock'

                        443749
songid  51Zccii1M7281rhaWwcmvz

                               443749
genres_stripped  'swedish indie rock'

                        448101
songid  3XAc0JeGEeGWXRSqMK1YBi

                               448101
genres_stripped  'swedish indie rock'

                        449008
songid  4lS69Lq18j9Mv8HN9PRuGm

                               449008
genres_stripped  'swedish indie rock'

                        450553
songid  5YBzZdTt5NbruA5si0dp8O

                               450553
genres_stripped  'swedish indie rock'

                        451166
songid  58Kj9htaWxuHIlmSLX6MdD

                               451166
genres_stripped  'swedish indie rock'

                        451839
songid  2HkeLp3ZhSJlzKZe9nPm9t

                               451839
genres_stripped  'swedish indie rock'

                        454210
songid  5tDsT7BEZyRVXFcnr0zl7y

                               454210
genres_stripped  'swedish indie rock'

                        456078
songid  54LVY34JCfpFE10jK5Pg6J

                               456078
genres_stripped  'swedish indie rock'

                        456147
songid  6o7Za3WrwukafZwi8s5ZTa

                               456147
genres_stripped  'swedish indie rock'

                        456514
songid  1cezwzPNcOuVrFA8PgMtNl

                               456514
genres_stripped  'swedish indie rock'

                        457495
songid  6pEXoUVV2k0HuI6B54BdHm

                               457495
genres_stripped  'swedish indie rock'

                        457966
songid  6wCFF6EGbf0L0dr3RtXNkd

                               457966
genres_stripped  'swedish indie rock'

                        458264
songid  6dFfARQIfUV9vGYkktH37c

                               458264
genres_stripped  'swedish indie rock'

                        460512
songid  0sonbKmZR1MCQKbatsK56C

                               460512
genres_stripped  'swedish indie rock'

                        460847
songid  0duGkniBd1KLfbUtHKPV97

                               460847
genres_stripped  'swedish indie rock'

                        462320
songid  2elGNRLorvQESk4wLvxvR1

                               462320
genres_stripped  'swedish indie rock'

                        464741
songid  7aOfGbQOirS2O7ZuMPD90J

                               464741
genres_stripped  'swedish indie rock'

                        465836
songid  60nPA2zGJlAgUP1My7PREl

                               465836
genres_stripped  'swedish indie rock'

                        468521
songid  40Mg8gsgX7tGfnlpYASXfS

                               468521
genres_stripped  'swedish indie rock'

                        468653
songid  6xKJKZ25xrSlAzgkpCDPpI

                               468653
genres_stripped  'swedish indie rock'

                        471723
songid  639e45A1MwliYFLZKVdDJG

                               471723
genres_stripped  'swedish indie rock'

                        474676
songid  2Ft4CWrnypgnGpzSrfBphx

                               474676
genres_stripped  'swedish indie rock'

                        475753
songid  0hhK0KgnXMBmfcLjPOZAxZ

                               475753
genres_stripped  'swedish indie rock'

                        476034
songid  3hXh5AavYUrod2MgM3PX49

                               476034
genres_stripped  'swedish indie rock'

                        478000
songid  2iwf2ML40dphaY8Priuvjv

                               478000
genres_stripped  'swedish indie rock'

                        479277
songid  4HqYO71eD9syauwkUdS3G1

                               479277
genres_stripped  'swedish indie rock'

                        505441
songid  4y3axZKpHs3ytryc328gNi

                               505441
genres_stripped  'swedish indie rock'

                        510519
songid  0ZNFHQi0cU5DbeK5xEOKgd

                               510519
genres_stripped  'swedish indie rock'

                        512285
songid  1kUoLS5V1H5rLiaVPhB906

                               512285
genres_stripped  'swedish indie rock'

                        514103
songid  0evqiWbuxidVjjHPMRV0Nb

                               514103
genres_stripped  'swedish indie rock'

                        518066
songid  6SuLTVmiQOFFlbrv0AGa7t

                               518066
genres_stripped  'swedish indie rock'

                        520168
songid  59IPNmxa1rAzzKH5fvK791

                               520168
genres_stripped  'swedish indie rock'

                        524794
songid  6mnPduZmzuRtKDIsC6Uzhr

                               524794
genres_stripped  'swedish indie rock'

                        525590
songid  07UfxSaKvmTLwBDLpeu5eK

                               525590
genres_stripped  'swedish indie rock'

                        527347
songid  6uXhEfITtiGdXnKZS74y6s

                               527347
genres_stripped  'swedish indie rock'

                        528251
songid  5DaAGs4dPy0WjyuAag0WFg

                               528251
genres_stripped  'swedish indie rock'

                        530223
songid  2LXPel4RqX6QFlKvhvr3qe

                               530223
genres_stripped  'swedish indie rock'