In [6]:
# Importing necessary libraries

# Nearest neighbors will be the v1 model for sound drip
# will give logistic regressiona nd 
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import StandardScaler, MinMaxScaler, Normalizer
from sklearn.neighbors import KDTree
from joblib import dump
from joblib import load
import pickle
import numpy as np

import pandas as pd
from pandas.io.json import json_normalize

# Loading Latest PKL

In [7]:
df = pickle.load(open("./data/song_list_v6_genre_embeds.pkl", "rb"))

# Preparing for Scaling

In [8]:
df.head()

,songid,popularity,acousticness,artist,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,track,valence,genres,genre_embed
0,5PS5dpaLogPzYU9hWiWyZb,0,0.001300,Karkkiautomaatti,0.487,157307.0,0.678,0.055100,9.0,0.0846,-7.780,1.0,0.0495,149.940,4.0,Tanssi vaan,0.870,"[finnish indie, suomi rock]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,41RpZW2lxAdnqDd2nMBzLQ,15,0.000045,Hudson Mohawke,0.662,138960.0,0.823,0.952000,4.0,0.3430,-1.711,0.0,0.0662,177.745,4.0,No One Could Ever,0.621,"[bass music, scottish electronic, scottish hip...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,3GsS8jzoixpCnp4jDWCEvb,17,0.002760,Kris Kross,0.859,221200.0,0.741,0.000000,11.0,0.3250,-12.329,0.0,0.2710,98.082,4.0,2 Da Beat Ch'yall,0.529,"[hip hop, new jack swing, rap]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,0kq75szR7uDEYrZkT2c4Ry,21,0.348000,Jorge Negrete,0.361,173573.0,0.483,0.000003,7.0,0.1770,-6.875,1.0,0.0287,94.538,4.0,El hijo del pueblo,0.682,"[bolero, mariachi, ranchera]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,2HyFpkX9J7vv3OZNDaraHZ,1,0.340000,Tiger Lou,0.533,318467.0,0.302,0.179000,10.0,0.1110,-10.308,1.0,0.0307,134.959,3.0,Pilots,0.294,[swedish indie rock],"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [9]:
# dropping unnecessary columns
X = df.drop(["songid","artist","track", "duration_ms","genres"], axis=1)

# checking that they're dropped
X.shape

(574018, 14)

In [10]:
X

,popularity,acousticness,danceability,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,valence,genre_embed
0,0,0.001300,0.487,0.678,0.055100,9.0,0.0846,-7.780,1.0,0.0495,149.940,4.0,0.8700,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,15,0.000045,0.662,0.823,0.952000,4.0,0.3430,-1.711,0.0,0.0662,177.745,4.0,0.6210,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,17,0.002760,0.859,0.741,0.000000,11.0,0.3250,-12.329,0.0,0.2710,98.082,4.0,0.5290,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,21,0.348000,0.361,0.483,0.000003,7.0,0.1770,-6.875,1.0,0.0287,94.538,4.0,0.6820,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,1,0.340000,0.533,0.302,0.179000,10.0,0.1110,-10.308,1.0,0.0307,134.959,3.0,0.2940,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574013,33,0.798000,0.320,0.104,0.000750,0.0,0.1060,-13.162,1.0,0.0342,124.677,3.0,0.0566,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
574014,50,0.820000,0.418,0.204,0.936000,8.0,0.0866,-13.522,1.0,0.0370,110.022,4.0,0.0375,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
574015,0,0.070400,0.614,0.952,0.000000,6.0,0.3620,-2.782,1.0,0.0718,148.079,4.0,0.8200,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
574016,18,0.064000,0.343,0.487,0.000000,2.0,0.1070,-9.462,1.0,0.0473,171.217,4.0,0.3650,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
574017,47,0.029200,0.380,0.399,0.000000,2.0,0.8910,-8.466,1.0,0.0321,125.800,3.0,0.1050,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

# Perform Sorting Step Later

In [13]:
X = X.reindex(sorted(X.columns), axis=1)

In [14]:
X_for_scaling = X.drop(["genre_embed"],axis=1)

In [15]:
X_genre_embeds = X["genre_embed"]

In [16]:
X_for_scaling.columns

Index(['acousticness', 'danceability', 'energy', 'instrumentalness', 'key',
       'liveness', 'loudness', 'mode', 'popularity', 'speechiness', 'tempo',
       'time_signature', 'valence'],
      dtype='object')

In [17]:
X_genre_embeds.head()

0    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
1    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
2    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
3    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4    [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
Name: genre_embed, dtype: object

# Scaling

In [18]:
# instantiating scaler
scaler = MinMaxScaler()

# scaling data
# data_fitted = scaler.fit(X_new)
data_scaled = scaler.fit_transform(X_for_scaling)

# confirming scaling took place
data_scaled[0]

array([0.00130522, 0.4884654 , 0.678     , 0.0551    , 0.81818182,
       0.0846    , 0.78720453, 1.        , 0.        , 0.05118925,
       0.60009846, 0.8       , 0.87      ])

In [19]:
data_scaled.shape

(574018, 13)

# Normalization - Necessary Part of the Production App

In [20]:
data_scaled

array([[1.30522088e-03, 4.88465396e-01, 6.78000000e-01, ...,
        6.00098456e-01, 8.00000000e-01, 8.70000000e-01],
       [4.55823293e-05, 6.63991976e-01, 8.23000000e-01, ...,
        7.11381219e-01, 8.00000000e-01, 6.21000000e-01],
       [2.77108434e-03, 8.61584754e-01, 7.41000000e-01, ...,
        3.92549398e-01, 8.00000000e-01, 5.29000000e-01],
       ...,
       [7.06827309e-02, 6.15847543e-01, 9.52000000e-01, ...,
        5.92650255e-01, 8.00000000e-01, 8.20000000e-01],
       [6.42570281e-02, 3.44032096e-01, 4.87000000e-01, ...,
        6.85254484e-01, 8.00000000e-01, 3.65000000e-01],
       [2.93172691e-02, 3.81143430e-01, 3.99000000e-01, ...,
        5.03483965e-01, 6.00000000e-01, 1.05000000e-01]])

In [21]:
normalizer = Normalizer()
data_normalized = normalizer.fit_transform(data_scaled)

In [22]:
data_normalized.shape

(574018, 13)

# Attempting to thread massive combination of arrays

In [152]:
from multiprocessing import Pool

In [143]:
def combine_arrays():
    X_final_array = [np.array(list(data_normalized[i]) + list(X_genre_embeds[i])) for i in range(100)]
    return X_final_array

# Flattening into separate columns

In [2]:
X_final_array = [np.array(list(data_normalized[i]) + list(X_genre_embeds[i])) for i in range(len(data_normalized))]

NameError: name 'data_normalized' is not defined

# K-Nearest Neighbors Classifier w/ Data scaled and Normalized

In [171]:
# instantiating model class
knn1 = NearestNeighbors(n_neighbors=1000,algorithm='kd_tree',n_jobs=-1).fit(X_final_array)

# Attempting to Use KDTree

In [177]:
X_final_array_kd = np.array(X_final_array)

In [178]:
kdt = KDTree(X_final_array_kd, leaf_size=30, metric='euclidean')

KeyboardInterrupt:

# Dump Model If n_neighbors param needs to be adjusted

In [172]:
dump(knn1, './data/knn_model7.joblib', compress=True)

['./data/knn_model7.joblib']

In [ ]:
dump(kdt, './data/kdt_model7.joblib', compress=True)

In [ ]:
pickle.dump(x_final_array,)

In [1]:
knn1

NameError: name 'knn1' is not defined

# Song_ID Array for Predict Flask Function

In [255]:
# # converting song id column from df to an array

# song_id_array3 = np.array(df['songid'])

# filename5 = './data/song_id_array3.pkl'
# pickle.dump(song_id_array3, open(filename5, 'wb'))

# Loading Joblibbed Model

In [ ]:
knn1 = load('./data/knn_model7.joblib')

In [4]:
# running model to test output
# knn_results1 = knn1.kneighbors([X_final_array[2]])[1]

knn1.kneighbors([X_final_array[2]])[1]

NameError: name 'X_final_array' is not defined

In [25]:
knn_results1.shape

(1, 20)

In [100]:
pd.DataFrame(song_list.loc[1005][1:11])

                                    1005
artist                 Jean-michel Rotin
danceability                        0.64
duration_ms                       256133
energy                             0.784
instrumentalness                  0.0163
key                                    1
liveness                          0.0355
loudness                          -9.452
mode                                   1
songid            1uR9ohf3yyH1nygTAqqksv

In [29]:
counter = 0
for result in knn_results1[0]:
    counter += 1
    print(counter)
    display(pd.DataFrame(song_list.loc[result][10:11]),pd.DataFrame(song_list.loc[result][17:18]))

1

                             1
songid  41RpZW2lxAdnqDd2nMBzLQ

                                                                 1
genres_stripped  'bass music', 'scottish electronic', 'scottish...

2

                          7356
songid  5KrT43gJer7GAmW7lzDswI

                                                              7356
genres_stripped  'bass music', 'scottish electronic', 'scottish...

3

                        439313
songid  5jHWYX0vFoCTo9Vfi2oL5Y

                                                            439313
genres_stripped  'bass music', 'scottish electronic', 'scottish...

4

                        324065
songid  3niLZux4YrPkROBiQ5n10L

                                                            324065
genres_stripped  'bass music', 'scottish electronic', 'scottish...

5

                         46615
songid  2ELdgpcrH5KTT3aZRjOFzq

                                                             46615
genres_stripped  'bass music', 'scottish electronic', 'scottish...

6

                        189867
songid  6GyahSBWjd9NOdVmnZdBwL

                                                            189867
genres_stripped  'bass music', 'scottish electronic', 'scottish...

7

                        353040
songid  5HfSwVjTloGEAluKw3T3nh

                                                            353040
genres_stripped  'bass music', 'scottish electronic', 'scottish...

8

                        386550
songid  6iHHO8hU7viCgZyU3LYi4i

                                                            386550
genres_stripped  'bass music', 'scottish electronic', 'scottish...

9

                        280660
songid  6SWvFS3J48z1eED88Htg2x

                                                            280660
genres_stripped  'bass music', 'scottish electronic', 'scottish...

10

                        183275
songid  3xVIcDuxudSY3Vcvx02pcl

                                                            183275
genres_stripped  'bass music', 'scottish electronic', 'scottish...

11

                         29886
songid  5U9yhINyd8DQzKOAcL3KxZ

                                                             29886
genres_stripped  'bass music', 'scottish electronic', 'scottish...

12

                        432767
songid  2VYLZO3LakAgSWK9DTLWE3

                                                            432767
genres_stripped  'bass music', 'scottish electronic', 'scottish...

13

                         41466
songid  4g0iPH8W6MVIIsDmOma48J

                                                             41466
genres_stripped  'bass music', 'scottish electronic', 'scottish...

14

                        399202
songid  4Q2ghKdoEfrpleKAG03a5R

                                                            399202
genres_stripped  'bass music', 'scottish electronic', 'scottish...

15

                        254445
songid  0b2C1ICFJI0fT9E2iGmr7z

                                                            254445
genres_stripped  'bass music', 'scottish electronic', 'scottish...

16

                        155284
songid  0lo18DoW62vTW9uyosl8aA

                                                            155284
genres_stripped  'bass music', 'scottish electronic', 'scottish...

17

                        387436
songid  1ymVpc3PgmD4Fi5Udid5bS

                                                            387436
genres_stripped  'bass music', 'scottish electronic', 'scottish...

18

                         17106
songid  23IEkPgj3yKSezDtVwXRO9

                                                             17106
genres_stripped  'christian hardcore', 'christian metal', 'chri...

19

                         15114
songid  3aqjFps7jPIm19ZgU89q3C

                                                             15114
genres_stripped  'christian hardcore', 'christian metal', 'chri...

20

                        441859
songid  7GQgq7XsWDk45inpqiiFmD

                                                            441859
genres_stripped  'christian hardcore', 'christian metal', 'chri...

21

                          1045
songid  5xvdmEWWwOIL62y2hhAm6D

                                                              1045
genres_stripped  'christian hardcore', 'christian metal', 'chri...

22

                        350728
songid  7mK8yTpEIQn61QwxerM26P

                                                            350728
genres_stripped  'christian hardcore', 'christian metal', 'chri...

23

                        149636
songid  4KPgC2TCQCLtCfp4cdzldU

                                                            149636
genres_stripped  'christian hardcore', 'christian metal', 'chri...

24

                        458456
songid  0FzuPWVhwxXV80frodqvW0

                                                            458456
genres_stripped  'christian hardcore', 'christian metal', 'chri...

25

                        174122
songid  60UJqxsc6OEPW5av8nm76Z

                                                            174122
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

26

                        310774
songid  5iQBW6NsbIajPStowBzlHr

                                                            310774
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

27

                        549500
songid  6gvlSiOrZQ4tIWquhRTC2W

                                                            549500
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

28

                         35057
songid  14HnOjrW7n7sPxwWeVHyMa

                                                             35057
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

29

                         67702
songid  1Z91FEriJl65YpcC3gUe0V

                                                             67702
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

30

                        344390
songid  3IQwoqHZzeRqEYZ4mp1gtA

                                                            344390
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

31

                        566236
songid  4oRs3pEcVAcSFHT7bmTEbn

                                                            566236
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

32

                         12992
songid  14I88JNyQCmpRE4yyTG2UM

                                                             12992
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

33

                        111855
songid  0PPPfp5Dh161uvyMyGa8f9

                                                            111855
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

34

                        422635
songid  0Bc3ylX9HTk1PSKcnCbxPV

                                                            422635
genres_stripped  'celtic', 'celtic rock', 'irish folk', 'scotti...

35

                        252448
songid  2Ff7Dg6JAwPIUAdXI5Guni

                                                            252448
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

36

                         51503
songid  6KvPKYe8RclinEaDRkXbMr

                                                             51503
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

37

                        568655
songid  38LC7jHjifqs5EnYUv4BgG

                                                            568655
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

38

                        562878
songid  7zb2TzZwpXuBJutFIqS6lA

                                                            562878
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

39

                        427820
songid  5SFhVhAQJRvvN7GORknxF7

                                                            427820
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

40

                         89371
songid  6lSdwBLfPh0BtMqMUknUP2

                                                             89371
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

41

                        279931
songid  4c4RpS77mg4GiwNvrNumsD

                                                            279931
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

42

                        299717
songid  5bOfw0AAIHLzNQUuiubrjG

                                                            299717
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

43

                        135978
songid  53LtFw6btRiDCPYN3Zl7Ty

                                                            135978
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

44

                        481752
songid  3BXlmHqou6hZiOyi8JXfGt

                                                            481752
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

45

                        458372
songid  2XIs3A5GWPBkKuHHa93GWa

                                                            458372
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

46

                         50850
songid  02J1wOF7CNCy54RYZisapo

                                                             50850
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

47

                        405522
songid  110YR9ek5JgX48MyH3JGgL

                                                            405522
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

48

                        268485
songid  6ensQTx2BBv3LZtpT8WG5j

                                                            268485
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

49

                        426595
songid  4gYU71fEqlyHJHwPGzDccM

                                                            426595
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

50

                         75465
songid  3zUD6oNgG38gsCslj45qk8

                                                             75465
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

51

                        359693
songid  2iVBsAG8lsr4QK3WmONHW2

                                                            359693
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

52

                        271586
songid  5ZhKLY1XWcsf6je7PGeklh

                                                            271586
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

53

                        565269
songid  7H3nOoaHiPJPKadrHcMiex

                                                            565269
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

54

                        564789
songid  0vy1K9FhCK8woHW7MKEcBG

                                                            564789
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

55

                        340999
songid  5m5B8cPYS3vPt96gAQ6EWL

                                                            340999
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

56

                        128995
songid  3OGUFuRv3YQt1eWJ7LHirJ

                                                            128995
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

57

                        311481
songid  5vgd0awtV6RQBLAaNTIZHO

                                                            311481
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

58

                        408332
songid  1khsxsVlUd6cJHcGswLZeT

                                                            408332
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

59

                         30138
songid  2QSD3K3b3BJ8DPhGhQfDPW

                                                             30138
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

60

                        439880
songid  59HLQN83JIhVDIrx6SaswJ

                                                            439880
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

61

                         78332
songid  0Ai7iCjk1wLS4pLj41Inos

                                                             78332
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

62

                        338732
songid  7ngbS7HGJoRqbQpSyzrDwh

                                                            338732
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

63

                        226326
songid  1rcFWpAvaHsoWJQB2DQ0EJ

                                                            226326
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

64

                        453043
songid  6JTdV0a0xoPJvyq7ZQV9d6

                                                            453043
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

65

                         15768
songid  4cuYVNYNtmBIjLDk9SmshM

                                                             15768
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

66

                         48928
songid  2FkhmoXtlNHBDfQxS2onV2

                                                             48928
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

67

                        554143
songid  42vUVhViZsyIp2Cw03NKmN

                                                            554143
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

68

                        307580
songid  1P5Fh5atqaEnyNjoSxPKF4

                                                            307580
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

69

                        211179
songid  4XR0g0olgdBqylNtLkH90n

                                                            211179
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

70

                        408543
songid  2RniHAiLy58MNPfE77tl2Q

                                                            408543
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

71

                        565282
songid  68xJcsjiNqoqG18FzHvUDu

                                                            565282
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

72

                        240398
songid  2fQE3tSQ4sCUKpTLjdxt8u

                                                            240398
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

73

                        116466
songid  1xhjTVTlmBmAFIhNNNRdKO

                                                            116466
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

74

                        395982
songid  3TA0oN8l6FwF7tlGfijStg

                                                            395982
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

75

                         20943
songid  2wuIPyHgN0jCFXtR4tN39z

                                                             20943
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

76

                        230483
songid  4fBzC8XRwt4TX0k0EFQYHH

                                                            230483
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

77

                         38820
songid  09b5vch8cDyMN8vYA2lEwk

                                                             38820
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

78

                        232721
songid  5lOCaZYfzvLBt9mPmgXJmM

                                                            232721
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

79

                        481774
songid  6ZqL4HwhuWXuDiQTcVw6QV

                                                            481774
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

80

                        437023
songid  4tG1L2bTeOWkVSWX5IbRHx

                                                            437023
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

81

                        375544
songid  6VcXyVkrGY194qkYX6XqAl

                                                            375544
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

82

                        317411
songid  4MRj97HBBsSD9quMCOB20s

                                                            317411
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

83

                        178735
songid  7HlIELWcQLib94pEAm6fVQ

                                                            178735
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

84

                          3646
songid  3jMKQlVn5sEcOk6VdpEvlu

                                                              3646
genres_stripped  'dance rock', 'new wave', 'pub rock', 'punk', ...

85

                        560394
songid  2dMkrhsWFVP2rHZmTEKkeh

                                                            560394
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

86

                         67778
songid  3bR5ZAkI5pt31v8qAQocYD

                                                             67778
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

87

                        452724
songid  30kVifNRTodm0jkDQAtKVm

                                                            452724
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

88

                        481644
songid  5cqZN7rPIwFOie4mpJ6SJY

                                                            481644
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

89

                        481796
songid  035CqRcthbyYSIZuqhkMgv

                                                            481796
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

90

                        458981
songid  7k5cuk5o3Q3ueiwOXrFWpp

                                                            458981
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

91

                        407104
songid  46aWNIBOTOTKObtHu4ejVD

                                                            407104
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

92

                        431163
songid  7kHD0VssDJgYUoFQEATgf8

                                                            431163
genres_stripped  'celtic', 'celtic rock', 'irish folk', 'scotti...

93

                        302751
songid  46wofYWWNwmdyPgVHT81R7

                                                            302751
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

94

                        501196
songid  6CpRE5o5sXPajgPP6O1tjS

                                                            501196
genres_stripped  'acoustic pop', 'anthem worship', 'christian i...

95

                        481791
songid  2mvXHQJ6ySMOQSQmjswkMV

                                                            481791
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

96

                        230276
songid  3Exg4XPdFuCdbKEFG0cEoQ

                                                            230276
genres_stripped  'acoustic pop', 'anthem worship', 'christian i...

97

                        257363
songid  33dVEqsu2V7zvCIgid8PnF

                                                            257363
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

98

                        487102
songid  1Y7pZRTEkdW3lysdcFEdcE

                                                            487102
genres_stripped  'acoustic pop', 'indie poptimism', 'indiecoust...

99

                        499112
songid  4u10TdQrpMjcPsYZA9tUxI

                                                            499112
genres_stripped  'acoustic pop', 'anthem worship', 'christian i...

100

                        497658
songid  7DLzu8CrPIl64bcbw150F1

                                                            497658
genres_stripped  'acoustic pop', 'anthem worship', 'christian i...

# Model w/out Hashed Genres

In [30]:
# instantiating model class
knn2 = NearestNeighbors(n_neighbors=21,algorithm='kd_tree')

# fitting model
model2 = knn2.fit(data_scaled)

In [31]:
# running model to test output
knn_results2 = knn2.kneighbors([data_scaled[1]])[1]

In [32]:
knn_results2[0]

array([     1, 492393, 407590, 445580, 238362, 385085, 559862, 535388,
       198289,  36970, 350778,  68090, 436203,  75609,  67393, 495177,
       286524, 192022, 436810,  93001, 530514])

In [33]:
pd.DataFrame(song_list.loc[1005][1:11])

                                    1005
artist                 Jean-michel Rotin
danceability                        0.64
duration_ms                       256133
energy                             0.784
instrumentalness                  0.0163
key                                    1
liveness                          0.0355
loudness                          -9.452
mode                                   1
songid            1uR9ohf3yyH1nygTAqqksv

In [34]:
counter = 0 
for result in knn_results2[0]:
    counter += 1 
    print(counter)
    display(pd.DataFrame(song_list.loc[result][10:11]),pd.DataFrame(song_list.loc[result][17:18]))

1

                             1
songid  41RpZW2lxAdnqDd2nMBzLQ

                                                                 1
genres_stripped  'bass music', 'scottish electronic', 'scottish...

2

                        492393
songid  0O3db9x93twYwR8ckduDc2

                                                   492393
genres_stripped  'drum and bass', 'liquid funk', 'uk dnb'

3

                        407590
songid  1uHmO3Uo9pkJ8uii3f8E9y

                                                            407590
genres_stripped  'darkstep', 'drum and bass', 'liquid funk', 'n...

4

                        445580
songid  4iB8tsFTPqOAnrCBsz3Baa

                                                            445580
genres_stripped  'chillhop', 'downtempo', 'electronica', 'ninja...

5

                        238362
songid  23z6WXALRFTeEwA25kQJNT

                                                            238362
genres_stripped  'electropop', 'metropopolis', 'swedish alterna...

6

                        385085
songid  4DHZWAshPCZkYHC64UoLeK

                                                            385085
genres_stripped  'electro jazz', 'electro swing', 'electronica'...

7

                        559862
songid  5570AOqQfWpmHAcRVywpcE

                                                            559862
genres_stripped  'progressive house', 'progressive trance', 'up...

8

                        535388
songid  2biS8aAzmYUl6cIbJKkxrL

                                      535388
genres_stripped  'chillhop', 'jazz boom bap'

9

                        198289
songid  4QxWH1nRVPlThJUGi8XlaQ

                                    198289
genres_stripped  'electro jazz', 'nu jazz'

10

                         36970
songid  1EyR9ykNVYuhBiMi14Bg7x

                                                             36970
genres_stripped  'alternative hip hop', 'boom bap', 'east coast...

11

                        350778
songid  4QVcr63WEHP9ofwDs3vAhn

                                                            350778
genres_stripped  'drill and bass', 'electronica', 'glitch', 'in...

12

                         68090
songid  3GlkjwXjM5Bgfz4lNfbFUz

                                                             68090
genres_stripped  'dub', 'reggae', 'rock steady', 'roots reggae'...

13

                        436203
songid  2bx3heulXGe3D2MoICVw8F

                                                436203
genres_stripped  'reggae en espanol', 'spanish reggae'

14

                         75609
songid  1GA5a4fprKfOhfoM0RI5iw

                                          75609
genres_stripped  'acid trance', 'bubble trance'

15

                         67393
songid  7MUVlI2my9eh78SGEBzF8M

                     67393
genres_stripped  'full on'

16

                        495177
songid  1G9l5r5Fc65J7DZPAEk5lA

                                                     495177
genres_stripped  'catstep', 'kawaii future bass', 'otacore'

17

                        286524
songid  6t9aQLS7yu3Wwl0cNyVEy1

                                            286524
genres_stripped  'deep jazz fusion', 'jazz fusion'

18

                        192022
songid  0heb17V634CHk3dSs0wwJM

                                                   192022
genres_stripped  'frankfurt electronic', 'future ambient'

19

                        436810
songid  03cIxujvTyV0sNShMoONGH

                                                            436810
genres_stripped  'downtempo', 'livetronica', 'new tribe', 'psyc...

20

                         93001
songid  22gpJ3mnSYHm964wFPNgeW

                                          93001
genres_stripped  'ambient psychill', 'psychill'

21

                        530514
songid  6brdygAtfqp3KDceaBLDZv

                                          530514
genres_stripped  'dub', 'reggae', 'roots reggae'

In [28]:
knn_results1[0]

array([     2,  39565, 265926, 532028, 407709, 438331, 473470, 259888,
       420313, 213790, 352801, 303257, 551492, 106525, 452963,  64608,
       124604,  46919, 433612, 572160])