In [83]:
import pickle
import pandas as pd
import numpy as np
import sqlite3
from datetime import datetime

In [84]:
con = sqlite3.connect("song_list_curr_na.db")
curr_df = pd.read_sql_query("SELECT * from songs", con)
curr_df.head(2)

,level_0,index,songid,popularity,acousticness,artist,danceability,duration_ms,energy,instrumentalness,...,mode,speechiness,tempo,time_signature,track,valence,genres,genres_stripped,availability,release_date
0,0,0,5PS5dpaLogPzYU9hWiWyZb,0,0.001300,Karkkiautomaatti,0.487,157307.0,0.678,0.0551,...,1.0,0.0495,149.940,4.0,Tanssi vaan,0.870,"['finnish indie', 'suomi rock']","'finnish indie', 'suomi rock'",1.0,2006
1,1,1,41RpZW2lxAdnqDd2nMBzLQ,15,0.000045,Hudson Mohawke,0.662,138960.0,0.823,0.9520,...,0.0,0.0662,177.745,4.0,No One Could Ever,0.621,"['bass music', 'scottish electronic', 'scottis...","'bass music', 'scottish electronic', 'scottish...",1.0,2009-10-12

In [85]:
curr_df.columns.tolist

<bound method IndexOpsMixin.tolist of Index(['level_0', 'index', 'songid', 'popularity', 'acousticness', 'artist',
       'danceability', 'duration_ms', 'energy', 'instrumentalness', 'key',
       'liveness', 'loudness', 'mode', 'speechiness', 'tempo',
       'time_signature', 'track', 'valence', 'genres', 'genres_stripped',
       'availability', 'release_date'],
      dtype='object')>

In [89]:
curr_df_2 = curr_df.drop(['level_0', 'index', 'popularity', 'acousticness', 'artist',
       'danceability', 'duration_ms', 'energy', 'instrumentalness', 'key',
       'liveness', 'loudness', 'mode', 'speechiness', 'tempo',
       'time_signature', 'track', 'valence', 'genres', 'genres_stripped'], axis=1)

curr_df_2.head()

                   songid  availability release_date  year
0  5PS5dpaLogPzYU9hWiWyZb           1.0         2006  2006
1  41RpZW2lxAdnqDd2nMBzLQ           1.0   2009-10-12  2009
2  3GsS8jzoixpCnp4jDWCEvb           1.0   1993-08-03  1993
3  0kq75szR7uDEYrZkT2c4Ry           1.0   2018-06-20  2018
4  2HyFpkX9J7vv3OZNDaraHZ           1.0   2005-01-01  2005

In [90]:
curr_df_2['year'] = curr_df_2['release_date'].astype(str).str[:4]

In [91]:
curr_df_2 = curr_df_2.drop(['release_date'], axis=1)

In [93]:
curr_df_2['year'] = pd.to_numeric(curr_df_2['year'])

In [94]:
curr_df_2.dtypes

songid           object
availability    float64
year              int64
dtype: object

In [95]:
curr_df_2.describe()

        availability           year
count  573990.000000  574018.000000
mean        0.967688    2004.181548
std         0.176829      12.373980
min         0.000000       0.000000
25%         1.000000    2000.000000
50%         1.000000    2006.000000
75%         1.000000    2010.000000
max         1.000000    2020.000000

In [80]:
curr_df_2['by_decade_and_quinquennial'] = pd.cut(x=curr_df_2['year'], bins=[0, 1950, 1959, 1964, 
                                                                   1969, 1974, 1979, 1984,
                                                                   1989, 1994, 1999, 2004, 
                                                                   2009 ,2014, 2019, 2020],
                                                           labels=['>50s', '50-60', '60-65',
                                                                   '65-70', '70-75', '75-80',
                                                                   '80-85', '85-90', '90-95',
                                                                   '95-2000', '2000-2005', '2005-2010',
                                                                   '2010-2015', '2015-2019', '2020', ])

In [81]:
curr_df_2.head()

                   songid  availability  year by_decade_and_quinquennial
0  5PS5dpaLogPzYU9hWiWyZb           1.0  2006                  2005-2010
1  41RpZW2lxAdnqDd2nMBzLQ           1.0  2009                  2005-2010
2  3GsS8jzoixpCnp4jDWCEvb           1.0  1993                      90-95
3  0kq75szR7uDEYrZkT2c4Ry           1.0  2018                  2015-2019
4  2HyFpkX9J7vv3OZNDaraHZ           1.0  2005                  2005-2010

In [96]:
zen_df = pickle.load( open( "./song_list_v6_zen.pkl", "rb"))
zen_df.head(2)

,index,songid,popularity,acousticness,artist,danceability,duration_ms,energy,instrumentalness,key,liveness,loudness,mode,speechiness,tempo,time_signature,track,valence,genres
0,0,5PS5dpaLogPzYU9hWiWyZb,0,0.001300,Karkkiautomaatti,0.487,157307.0,0.678,0.0551,9.0,0.0846,-7.780,1.0,0.0495,149.940,4.0,Tanssi vaan,0.870,"['finnish indie', 'suomi rock']"
1,1,41RpZW2lxAdnqDd2nMBzLQ,15,0.000045,Hudson Mohawke,0.662,138960.0,0.823,0.9520,4.0,0.3430,-1.711,0.0,0.0662,177.745,4.0,No One Could Ever,0.621,"['bass music', 'scottish electronic', 'scottis..."

In [ ]:
concated_df = pd.merge(curr_df_2, zen_df, on=['songid'])

concated_df

In [82]:
pickle.dump( df, open( "song_list_v7.pkl", "wb" ) )